@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fbf6f6;
    color: #5C5F78;
}



/************************************************************************/
/* 메인 section 시작 */
.main-section {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    box-sizing: border-box;
    display: flex;
}

.main-contents-left { 
    min-width: 180px;
    max-width: 400px;
    width: 20%;
    height: 100%;
    /* border: 2px solid blue; */
    box-sizing: border-box;
}

.main-contents {
    width: 60%;
    height: 100%;
    /* border: 2px solid blue; */
    box-sizing: border-box;
}

.main-contents-right {
    width: 20%;
    height: 100%;
    /* border: 2px solid blue; */
    box-sizing: border-box;
}

.artist-follower {
    width: 100%;
    height: 235px;
    margin: 0 auto;
    /* border: 2px solid blue; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.artist-follower p {
    min-width: 180px;
    margin: 0;
    padding: 10px 0;
    font-family: "Wemakeprice-bold";
    box-sizing: border-box;
}

.artist-name {
    min-width: 180px;
    font-size: 40px;
    text-align: center;
    font-family: "Wemakeprice-bold";
    box-sizing: border-box;
}

.artist-follower p.artist-follower-count {
    min-width: 180px;
    padding-bottom: 35px;
    font-size: 20px;
    font-family: "Wemakeprice-bold";
    box-sizing: border-box;
}


.category {
    min-width: 180px;
    width: 50%;
    height: 290px;
    margin: 0 auto;
    /* border: 2px solid blue; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: left;
}

.category a {
    padding: 15px 10px;
    font-size: 30px;
    font-family: "Wemakeprice-bold";
    box-sizing: border-box;
    text-decoration: none;
    color:#E5D2D2
}

.category a:active {
    color: #5C5F78
}

.contents-search {
    width: 100%;
    min-width: 180px;
    height: 350px;
    /* border: 2px solid blue; */
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-area {
    width: 210px;
    position: relative;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents-search-input {
    width: 210px;
    border: none;
    border-bottom: 5px solid #F4D4D4;
    background: #fbf6f6;
    height: 50px;
    outline: none;
    padding: 0 30px 0 15px;
    font-size: 20px;
}

.search-icon {
    width: 30px;
    height: 30px;
    /* margin: 2px 5px; */
    position: absolute;
    right: 0px;
}

.search-result {
    background: white;
    width: 210px;
    margin: 0 auto;
    height: 100%;
}

/* 포스트 작성 */
.post-outer {
    border : 1px solid #ebebeb;
    background-color: white;
    height : auto;
    margin-top: 100px;
    width : 90%;
    box-sizing: border-box;
    
}

.introArea {
    border: none;
    height: 50px;
    width : 100%;
    
}

.post-intro {
    font-size: 1.2em;
    color: black;
    padding-left: 40px;
    font-family: "Wemakeprice-bold";
    border : none;
}

.postArea {
    border : none;
    height : auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width : 100%;
   
}

.post-icon {
    border : none;
    width: 50px;
    height: 50px;
    padding-top: 0px;
    padding-left: 4%;
       
}

.textArea {
    width : 750px;
    height : 80px;
    resize : none;
    border: none;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 1.2em;
    
}

.photo-icon {
    width: 35px;
    height: 35px;
    margin: auto 0 0 auto;
    padding-bottom: 20px;
    padding-right: 20px;
    border : none;
    cursor : pointer;
    

}

.guide {
    position: absolute;
    top: 0;
    left: 10px;
    margin: 0;
    padding: 0;
    font-family: Wemakeprice;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

.guide-text {
    width: 90%;
    resize: none;
    border: 1px solid lightgray;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    color: #5C5F78;
}

.my-photo {
    width: 95%;
    /* border: 2px solid red; */
    margin: 20px auto 0;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: no-wrap;
    box-sizing: border-box;
    margin-top: 2%;
    overflow-y: hidden;
    position: relative;
}

/* 게시글 사진 갯수에 따라 영역 표시 */
/*  .photo-area {
    border: 1px solid red;
    width: 100%;
    height: auto;
    display: grid;
    flex-wrap : wrap;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: auto;
    margin-bottom: 30px;
}  */

.main-photo {
    width: 132px;
    height: 132px;
    background: #ebebeb;
    position: relative;
    margin-left: 5%;
}

.main-photo-img {
    width: 132px;
    height: 132px;
    position: absolute;
    
}

.add-photo {
    width: 132px;
    height: 132px;
    background: #ebebeb;
    position: relative;
    margin-left: 5%;
    text-align: center;
    vertical-align: middle;
}

.add-photo-img {
    width: 132px;
    height: 132px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.add-photo1 {
    width: 132px;
    height: 132px;
    background: #ebebeb;
    position: relative;
    margin-left: 10%;
    text-align: center;
    vertical-align: middle;
}

.add-photo1-img {
    width: 132px;
    height: 132px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.add-photo2 {
    width: 132px;
    height: 132px;
    background: #ebebeb;
    position: relative;
    margin-left: 10%;
    text-align: center;
    vertical-align: middle;
}

.add-photo2-img {
    width: 132px;
    height: 132px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.click-btn {
    font-size: 40px;
}

.btnArea {
   border: none;
   width : 95%;
   display: flex;
   flex-wrap: wrap;
}

.post-insert-btn {
    background-color: #F4D4D4;
    color : white;
    border-radius: 8px;
    margin-left: auto;
    width : 110px;
    height : 40px;
    border: 0;
    outline: 0;
    padding-right: 10px;
    cursor: pointer;
}

/* 게시글 영역 */

/* 게시글 전체 영역 */
.boardArea {
    border : 1px solid #ebebeb;
    background-color: white;
    height : auto;
    margin-top: 100px;
    width : 90%;
    box-sizing: border-box;
}




.open-area {
    display: block !important;
}

/* 게시글 프로필사진, 닉네임, 작성날짜, 더보기,신고 아이콘 영역 */
.board-top {
    width : 100%;
    padding-top: 10px;
}

.board-top tr{
    text-align: right;
}

/* 프로필 사진 */
.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;
}

/* 닉네임 영역 */
.nicknameArea {
    text-align: left;
    font-size: 1.3em;
    color : black;
    font-family: "Wemakeprice-bold";
    padding-top: 5px;
    padding-left: 15px;
}

/* 게시글 등록날짜 영역 */
.boarddateArea {
    text-align: left;
    font-size: 1.2em;
    color : #575757;
    padding-left: 15px;
}

/* 더보기 아이콘 */
.board-more-icon {
    width : 40px;
    height : 30px;
    cursor: pointer;
    
}

/* 더보기 클릭 시 하위메뉴 */
.board-menu {
    border: 2px solid black;
    border-radius: 10px 0px 10px 10px;
    width: 100px;
    height: auto;
    background: white;
    text-align: center;
    font-family: "Wemakeprice-regular";
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    left: 1100px;
    margin-top: 10px;
    display: none;
}
/* 신고 아이콘 */
.report-icon {
    width : 30px;
    height : 30px;
    padding-right: 20px;
    cursor: pointer;
}

/* 게시글 리스트 -> 텍스트 영역 + 이미지 영역 */
.contentArea{
    cursor: pointer;
}

/* 게시글 리스트 -> 텍스트 영역 */
.board-text {
    border : none;
    padding-left: 100px;
    font-size : 20px;
    color : black; 
}

/* 게시글 리스트 -> 이미지 영역 */
.board-img {
    width: 500px;
    height : 400px;
    border-radius: 4%;
    margin-left: 25%;

}

/* 팬 피드랑 다른곳 체크********/
.imgArea {
	width: 100%;
    height: 225px;
}


/* 게시글 리스트 -> 좋아요 영역 */
.board-like {
    width : 100%;

}


/* 좋아요 아이콘 */

#cancelLike, #insertLike{
	 width : 30px;
    height : 30px;
    margin-left: 85px;
    cursor: pointer;
}

#cancelRLike, #insertRLike{
	 width : 20px;
    height : 20px;
    margin-left: 25px;
    cursor: pointer;
}

/* 댓글 텍스트 */
.reply-info {
    text-align: right;
}

/* 댓글 카운트 */

/************** 댓글 리스트 영역 ******************/


.comment-toggle {
    display: none;
}

.comment-container, .re-comment-container {
    display: flex;
}

.comment-area {
    width: 80%;
    height: 40px;
    background: #ebebeb;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 70px;
    padding-left: 20px;
    position: relative;
}

.comment-area > textarea {
    border: none;
    width: 95%;
    height: 25px;
    outline-style: none;
    font-size: 17px;
    background: #ebebeb;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
}

.send-btn, .re-send-btn {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.open-area {
    display: block !important;
}

.original-comment {
    /* border: 1px solid green; */
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
}

.comment-line {
    width: 100%;
    height: auto;
    position: relative;
}
.comment-line > td:first-child {
    height: 100%; 
    vertical-align: top; 
    padding-top: 5px;
}

.comment-line > td {
    position : relative;
}
/* 프로필 사진 클릭 시 하위메뉴 */
.profile-bubble {
    border: 2px solid black;
    border-radius: 10px 0px 10px 10px;
    width: 100px;
    height: auto;
    background: white;
    text-align: center;
    font-family: "Wemakeprice-regular";
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top : 10px;
    left : -105px;
    display: none;
}

.re-profile-bubble {
    border: 2px solid black;
    border-radius: 10px 0px 10px 10px;
    width: 100px;
    height: auto;
    background: white;
    text-align: center;
    font-family: "Wemakeprice-regular";
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    left: 455px;
    margin-top: 20px;
    display: none;
}

.profile-picture, .re-profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: top;
}

#artist-comment {
    background: #fceae5;
    border-radius: 10px;
}

.comment-box {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    font-size: 17px;
    display: flex;
    box-sizing: border-box;
}

.comment-center {
    /* border: 1px solid blue; */
    margin: 10px 10px 0px 10px;
    box-sizing: border-box;
}

.comment-main {
    width: 95%;
    height: 100%;
    line-height: 40px;
    background: #f3f3f3;
    border-radius: 10px;
    box-sizing: border-box;
    padding-right: 30px;
}

.comment-name {
    font-family: "Wemakeprice-bold";
    font-weight: bolder;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.comment-content {
    padding-right: 30px;
    box-sizing: border-box;
    overflow: visible;
}

.re-commentBtn {
    float: right;
    color: #a9a9a9;
    font-family: "Wemakeprice-regular";
    font-size: 15px;
    cursor: pointer;
}

.comment-etc, .re-comment-etc {
    height: 100%;
    cursor: pointer;
    font-size: 35px; 
    padding-top: 6px;
    position : relative;
}

.comment-bubble {
    border: 2px solid black;
    border-radius: 0 10px 10px 10px;
    width: 100px;
    height: auto;
    background: white;
    text-align: center;
    font-family: "Wemakeprice-regular";
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 20px;
    right : -110px;
    display: none;
    font-size : 16px !important;
}

.re-comment-bubble {
    border: 2px solid black;
    border-radius: 0 10px 10px 10px;
    width: 100px;
    height: 0px;
    background: white;
    text-align: center;
    font-family: "Wemakeprice-regular";
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 20px;
    right : -110px;
    display: none;
    font-size : 16px !important;
}

.comment-info {
    width: 94.5%;
    font-size: 14px;
}

.re-comment-info {
    width: 94%;
    font-size: 14px;
}

.likeBtn {
    width: 20px;
    height: 20px;
}

.comment-date {
    float: right;
}

.re-comment {
    display: none;
}


.reply-more {
    text-align: center;
    width: 110px;
    height: 40px;
    font-size: 2.5em;
    background-color: white;
    font-weight: bolder;
    margin-left: 450px;
    border:none;
    cursor: pointer;
}

.replyArea {
    display: flex;
}

.insert-reply {
    width: 80%;
    height: auto;
    overflow: hidden;
    background: #ebebeb;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
    min-height: 40px;
}

.insert-replyBtn {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    border : 0;
    outline: 0;
    background: white;
    
}

.insert-reply > textarea {
    border: none;
    width: 95%;
    height: 25px;
    outline-style: none;
    font-size: 17px;
    background: #ebebeb;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
    overflow: hidden;
}

/* 토글 스위치 */
.toggle-area {
    width: auto;
    height: auto;
    /* border: 2px solid red; */
    margin: 75px 0 0 10px;
}

.toggle-switch {
    --width: 80px;
    --height: 40px;
    --padding: 3px;
    --handle-size: calc(var(--height) - var(--padding) * 2);
    display: inline-block;
    outline-width: 0;
  }
  
  .toggle-switch > input {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
  }
  
  .area {
    padding: 4px;
    margin: -4px;
    position: relative;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
  }

  .area p {
      margin: 0;
      padding: 1px 3px 0;
      font-size: 13px;
     position: absolute;
     right: 13px;
     font-family: "Wemakeprice-bold";
  }

  .background,
  .handle,
  .area p {
    transition: all 0.3s ease;
  }
  
  .background {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: var(--width);
    height: var(--height);
    border-radius: var(--height);
    padding: 0 var(--padding);
    vertical-align: text-bottom;
    user-select: none;
    background-color: #ebebeb;
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: background-color .15s ease;
    cursor: pointer;
  }

  
  .handle {
    width: var(--handle-size);
    height: var(--handle-size);
    background-color: white;
    border-radius: 50%;
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.5),
      inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }


  
  input:checked + label .area .background {
    background-color: #5C5F78;
  }
  
  input:checked + label .area .handle {
    /* background-color: white; */
    transform: translateX(calc(var(--width) - var(--handle-size)));
  }

  input:checked + label .area p {
    position: absolute;
    left: 12px;
    color: white;
  }
  
  
/* 게시글 사진 개수당 다르게 세팅*/
.photo-area {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    display: grid;
    /* flex-wrap : wrap;
    display: grid; */ 
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: auto;
    margin-bottom: 30px;
}

.pic-size1 {
   grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 450px !important;
   border-radius: 10px;
}

.pic-size2 {
   grid-row-start: 1;
    grid-row-end: 3;
    height: 450px !important;
}

.pic-size3 {
   grid-row-start: 1;
    grid-row-end: 3;
    height: 450px !important;
}

.photo-area img {
    width: 100%;
    height: 225px;
}
