@charset "UTF-8";
html {
    background-color: black;
}

.container {
   
   
    
}

.inner{
	
}

/* 오른쪽 영역 */
.right-side{
    background-color: white;
    width : 400px;
    height : 550px;
    
    display: inline-block;
}

.board-top {
    width : 100%;
    padding-top: 0px;
    
    
}

.profile-bubble {
    border: 2px solid black;
    border-radius: 10px 0px 10px 10px;
    width: 100px;
    height: auto;
    background: white;
    text-align: center;
    font-family: "Wemakeprice-regular";
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    left: 400px;
    margin-top: 10px;
    display: none;
}

/* 프사 */
.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;
    padding-left: 10px;
}

/* 닉네임 영역 */
.nicknameArea {
    text-align: left;
    font-size: 1.1em;
    color : black;
    font-family: "Wemakeprice-bold";
    padding-top: 5px;
    padding-left: 5px;
}

/* 게시글 등록날짜 영역 */
.boarddateArea {
    text-align: left;
    font-size: 1em;
    color : #575757;
    padding-left: 5px;
}

.board-text {
    border : none;
    padding-left: 15px;
    font-size : 18px;
    color : black; 
}

/* 게시글 리스트 -> 좋아요 영역 */
.board-like {
    width : 100%;

}

/* 좋아요 아이콘 */
.like-icon {
    width : 30px;
    height : 30px;
    margin-left: 15px;
    
}

/* 북마크 아이콘 */
.bm-icon {
    width : 30px;
    height : 30px;
    margin-right: 15px;
}

/* 댓글 등록 */
.replyArea {
    display: flex;
}
.insert-reply {
    width: 100%;
    height: 30%;
    overflow: hidden;
    background: #ebebeb;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
    min-height: 40px;
}

.insert-reply > textarea {
    border: none;
    width: 95%;
    height: 25px;
    outline-style: none;
    font-size: 17px;
    background: #ebebeb;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
    overflow: hidden;
}

.insert-replyBtn {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    border : 0;
    outline: 0;
    background: white;
    
}

