<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fanfeedMapper">
	<resultMap id="fanfeedResultSet" type="Feed">
		<id property="fid" column="BID"/>
		<result property="ftype" column="BTYPE"/>
		<result property="fcontent" column="BCONTENT"/>
		<result property="fcreate" column="BCREATE"/>
		<result property="fmodify" column="BMODIFY"/>
		<result property="flike" column="BLIKE"/>
		<result property="fstatus" column="BSTATUS"/>
		<result property="writer" column="ID"/>
		<result property="artiName" column="ARTI_NAME_EN"/>
	</resultMap>
	
	<resultMap type="AttachmentF" id="attResultSet">
		<id property="attCode" column="BPID"/>
		<result property="attRoot" column="BP_PATH"/>
		<result property="attClName" column="BP_OGNAME"/>
		<result property="attSvName" column="BP_CHNAME"/>
		<result property="attStatus" column="AB_STATUS"/>
		<result property="refId" column="BID"/>
	</resultMap>
	
	<resultMap type="Subscribe" id="subscribeResultSet">
		<id property="subCode" column="SUB_CODE"/>
		<result property="uid" column="U_ID"/>
		<result property="unickname" column="U_NICKNAME"/>
		<result property="subStatus" column="SUB_STATUS"/>
		<result property="artiname" column="ARTI_NAME_EN"/>
	</resultMap>
	
	<resultMap type="Attachment" id="usattResultSet">
		<id property="attCode" column="UP_CODE"/>
		<result property="attRoot" column="UP_ROOT"/>
		<result property="attClName" column="UP_CL_NAME"/>
		<result property="attSvName" column="UP_SV_NAME"/>
		<result property="attStatus" column="UP_STATUS"/>
		<result property="refuid" column="U_ID"/>	
	</resultMap>
	
	<resultMap type="FeedCollection" id="feedcollectionResultSet">
		
		<collection property="subscribe" resultMap="subscribeResultSet"/>
		<collection property="attachment" resultMap="usattResultSet"/>
		<collection property="attachmentf" resultMap="attResultSet"/>
		<collection property="reply" resultMap="replyResultSet"/>
	</resultMap>
	
	<resultMap type="Reply" id="replyResultSet">
		<id property="rid" column="BRID"/>
		<result property="rcontent" column="BRCONTENT"/>
		<result property="rcreate" column="BRCREATE"/>
		<result property="rstatus" column="BR_STATUS"/>
		<result property="refId" column="BID"/>
		<result property="writer" column="ID"/>
		<result property="refRid" column="BRRID"/>
	</resultMap>
	
	
	<!-- 게시글 등록 -->
	<insert id="insertFeed">
		INSERT
		INTO BOARD
		(
						BID
					,	BTYPE
					,	BCONTENT
					,	BCREATE
					,	BMODIFY
					,	BLIKE
					,	BSTATUS
					,	ID
					,	ARTI_NAME_EN	
		)
		VALUES
		(
					SEQ_BOARD.NEXTVAL
				,	'F'
				,	#{fcontent}
				,	SYSDATE
				,	SYSDATE
				,	DEFAULT
				,	DEFAULT
				,	#{writer}
				,	#{artiName}
		)
	</insert>
	
	<!-- 게시글 사진 등록 -->
	<insert id="insertFeedAtt">
		<foreach collection="list" item="i" index="index" open="INSERT ALL" close="SELECT * FROM DUAL">
		 
		INTO ATT_BOARD
		(
					BPID
				,	BP_PATH
				,	BP_OGNAME
				,	BP_CHNAME
				,	AB_STATUS
				,	BID		
		)
		VALUES
		(
					#{index} + SEQ_ATT_BOARD.NEXTVAL
				,	DEFAULT
				,	#{i.attClName}
		  		, 	#{i.attSvName}
		  		,	DEFAULT
		  		,	SEQ_BOARD.CURRVAL		
		)
		</foreach>
	</insert>
	
	<!-- 게시글 조회 -->
	<select id="selectFeedList" resultMap="fanfeedResultSet">
		SELECT
					BID
				,	BCONTENT
				,	BCREATE
				,	BMODIFY
				,	BLIKE
				,	BSTATUS
				,	ID
				
		
		FROM
					BOARD
		
		WHERE
					BTYPE = 'F'
		AND			BSTATUS = 'Y'	
		ORDER BY BCREATE DESC
	</select>
	
	<!-- 구독 유저 닉네임 조회 -->
	<select id="selectSubList" resultMap="subscribeResultSet">
	SELECT  	
				U_NICKNAME
        	,   ID
	FROM 		ATT_SUBSCRIBE
	JOIN 		BOARD ON(U_ID = ID)
	WHERE		U_ID = #{feed.writer}
	
	
	</select>
	
	<!-- 유저 프로필 사진 조회 -->
	<select id="selectatList" resultMap="usattResultSet">
	SELECT
				UP_CODE
			,	UP_ROOT
			,	UP_CL_NAME
			,	UP_SV_NAME
			,	UP_STATUS
			,	U_ID
	FROM
				USER_PROFILE
	</select>
	
	<!-- 피드 컬렉션 조회 -->
	<select id="selectfcList" resultMap="feedcollectionResultSet">
	SELECT
					BID
				,	BCONTENT
				,	BCREATE
				,	BMODIFY
				,	BLIKE
				,	BSTATUS
				,	B.ID
				,  	U_NICKNAME
				,	UP_CL_NAME
				,	UP_SV_NAME
				,   BP_OGNAME
                ,   BP_CHNAME
                ,	BRCONTENT
                ,	BRCREATE
		
		FROM
					BOARD B
		JOIN 		ATT_SUBSCRIBE ON(ID = U_ID)
		JOIN		USER_PROFILE USING(U_ID)
		JOIN     	ATT_BOARD USING(BID)
		JOIN		B_REPLY USING(BID)
		
		WHERE
					BTYPE = 'F'
		AND			BSTATUS = 'Y'
		ORDER BY BCREATE DESC
	</select>
	
	<!-- 게시글 사진 조회 -->
	<select id="selectptList" resultMap="attResultSet">
	SELECT
				BPID
			,	BP_PATH
			,	BP_OGNAME
			,	BP_CHNAME
			,	AB_STATUS
			,	BID
	FROM
				ATT_BOARD
	ORDER BY 	BPID DESC		
	</select>
	
	<!-- 댓글 등록 -->
	<insert id="insertReply">
		INSERT
		INTO B_REPLY
		(
						BRID
					,	BRCONTENT
					,	BRCREATE
					,	BR_STATUS
					,	BID
					,	ID
		)
		VALUES
		(
					SEQ_B_REPLY.NEXTVAL
				,	#{rcontent}
				,	SYSDATE
				,	DEFAULT
				,	#{refId}
				,	#{writer}   
		)
	</insert>
	
	<!-- 댓글 리스트 조회 -->
	<select id="selectReplyList" resultMap="replyResultSet">
	SELECT
					BRID
				,	BRCONTENT
				,	BRCREATE
				,	BR_STATUS
				,	BID
				,	ID
				,	BRRID
	FROM
					B_REPLY
	
	ORDER BY
				BRID DESC				
	</select>
</mapper>