<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<!-- 관심 아티스트 -->
	<resultMap type="ArtistGroup" id="artistgroupResultSet">
		<id property = "artNameEn" column="ARTI_NAME_EN"/>
		<result property="artNameKr" column="ARTI_NAME_KR"/>
		<result property="agId" column="AG_ID"/>
	</resultMap>
	
	<!-- 공통 유저 정보 -->
	<resultMap type="Member" id="commonResultSet">
		<id property = "id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="name" column="NAME"/>
		<result property="status" column="STATUS"/>
		<result property="signupDate" column="SIGNUP_DATE"/>
		<result property="classifyMem" column="CLASSIFY_MEM"/>
	</resultMap>
	
	<!-- 일반 회원 -->
	<resultMap type="User" id="userResultSet">
		<id property = "id" column="U_ID"/>
		<result property="uaddress" column="U_ADD"/>
		<result property="uemail" column="U_EMAIL"/>
		<result property="ucountry" column="U_COUNTRY"/>
		<result property="areaReg" column="AREA_REGISTER"/>
		<result property="areaCertify" column="AREA_CERTIFY"/>
		<result property="isMembership" column="IS_MEMBERSHIP"/>
		<result property="uProfile" column="U_PROFILE"/>
	</resultMap>
	
	<!-- 소속사 -->
	<resultMap type="Agency" id="agencyResultSet">
		<id property = "agId" column="AG_ID"/>
		<result property="agNum" column="AG_NUM"/>
		<result property="agPhone" column="AG_PHONE"/>
		<result property="agEmail" column="AG_EMAIL"/>
	</resultMap>
	
	<!-- 아티스트 -->
	<resultMap type="Artist" id="artistResultSet">
		<id property = "artiId" column="ARTI_ID"/>
		<result property="artiName" column="ARTI_ONE_NAME"/>
		<result property="artiNickname" column="NICKNAME"/>
		<result property="artiFacebook" column="FACEBOOK"/>
		<result property="artiInsta" column="INSTAGRAM"/>
		<result property="artiTwitter" column="TWITTER"/>
		<result property="artiDailymsg" column="DAILY_MSG"/>
		<result property="isTeam" column="IS_TEAM"/>
		<result property="agencyId" column="ID"/>
		<result property="artiNameEn" column="ARTI_NAME_EN"/>
	</resultMap>
	
	<!-- 아티스트 프로필 -->
	<resultMap type="Attachment" id="artiProfileResultSet">
		<id property = "attCode" column="ATT_CODE"/>
		<result property="attRoot" column="ATT_ROOT"/>
		<result property="attClName" column="ATT_CL_NAME"/>
		<result property="attSvName" column="ATT_SV_NAME"/>
		<result property="attStatus" column="ATT_STATUS"/>
		<result property="id" column="ARTI_ID"/>
	</resultMap>
	
	<!-- 아티스트 컬렉션 -->
	<resultMap type="ArtistCollection" id="artistCollResultSet">
		<collection property="artist" resultMap="artistResultSet"/>
		<collection property="attachment" resultMap="artiProfileResultSet"/>
	</resultMap>
	
	<!-- 관리자 -->
	<resultMap type="Admin" id="adminResultSet">
		<id property = "adId" column="AD_ID"/>
		<result property="authLv" column="AUTH_LV"/>
	</resultMap>
	
	<!-- 기본 유저 프로필 -->
	<resultMap type="Attachment" id="userProfileResultSet">
		<id property = "attCode" column="UP_CODE"/>
		<result property="attClName" column="UP_CL_NAME"/>
		<result property="attSvName" column="UP_SV_NAME"/>
		<result property="attStatus" column="UP_STATUS"/>
		<result property="id" column="U_ID"/>
	</resultMap> 
	
	<!-- 관심 아티스트 insert -->
	<resultMap type="FavoriteArtist" id="favArtistResultSet">
		<id property = "favCode" column="FAV_CODE"/>
		<result property="id" column="U_ID"/>
		<result property="artiName" column="ARTI_NAME_EN"/>
	</resultMap> 
	
	<!-- 지역 -->
	<resultMap type="Area" id="areaResultSet">
		<id property = "areaCode" column="AREA_CODE"/>
		<result property="areaName" column="AREA_NAME"/>
	</resultMap> 
	
	<!-- 컬렉션 -->
	<resultMap type="UserCollection" id="userCollResultSet">
		<collection property="user" resultMap="userResultSet" />
		<collection property="area"  resultMap="areaResultSet" />
		<collection property="attUser" resultMap="userProfileResultSet" />
	</resultMap>
	<!-- 아이디 찾기 -->
	<resultMap type="FindIdCollection" id="findIdCollResultSet">
		<collection property="us" resultMap="userResultSet" />
		<collection property="mem"  resultMap="commonResultSet" />
	</resultMap>
	
	<!-- 전체 아티스트 영어 이름 select -->
	<select id="selectArtistList" parameterType="ArtistGroup" resultMap="artistgroupResultSet">
		SELECT
			  ARTI_NAME_EN
		 FROM
		 	  ART_MAIN
	</select>
	
	<!-- 공통 유저 정보 insert -->
	<insert id="insertCommon" parameterType="Member">
		INSERT
		INTO COMMON
		(
			ID
		  , PWD
		  , NAME
		  , STATUS
		  , SIGNUP_DATE
		  , CLASSIFY_MEM
		)
		VALUES
		(
		    #{id}
		  , #{pwd}
		  , #{name}
		  , DEFAULT
		  , SYSDATE
		  , 1 
		)
	</insert>
	
	<!-- 일반 회원 insert -->
	<insert id="insertUser" parameterType="User">
		INSERT
		INTO USER_
		(
		   U_ID,
		   U_ADD,
		   U_EMAIL,
		   U_COUNTRY,
		   AREA_REGISTER,
		   AREA_CERTIFY,
		   IS_MEMBERSHIP,
		   U_PROFILE
		)
		VALUES
		( 
		  #{id} ,
		  #{uaddress},
		  #{uemail},
		  #{ucountry},
		  DEFAULT,
		  DEFAULT,
		  DEFAULT,
		  DEFAULT
		)
	</insert>
	
	<!-- 유저 기본 프로필 insert -->
	<insert id="insertProfile" parameterType="Attachment">
		INSERT
		INTO USER_PROFILE
		(
		   UP_CODE,
		   UP_CL_NAME,
		   UP_SV_NAME,
		   UP_STATUS,
		   U_ID
		)
		VALUES
		( 
		  SEQ_USER_PRO.NEXTVAL ,
		  #{attClName},
		  #{attSvName},
		  DEFAULT,
		  #{id}
		)
	</insert>
	
	<!-- 관심 아티스트 insert -->
	<insert id="insertFavArtist" parameterType="hashMap">
		INSERT INTO ART_FAV
		(
		  FAV_CODE,
		  U_ID,
		  ARTI_NAME_EN
		)
		SELECT SEQ_ART_FAV.NEXTVAL, A.* FROM(
		<foreach collection="fvList" item="i" separator="UNION ALL "> 
		  SELECT #{i.id} AS U_ID,
		  #{i.artiName} AS ARTI_NAME_EN
		  FROM DUAL
		</foreach>)A
	</insert>
	
	<!-- 아이디 중복 테스트 (카운트 값) -->
	<select id="selectId" resultType="_int" parameterType="String">
		SELECT
			  COUNT(*)
		  FROM
			  COMMON
		 WHERE
		 	  ID = #{id} 
	</select>
	
	<!-- 회원 로그인 정보 select -->
	<select id="selectMember" parameterType="Member" resultMap="commonResultSet">
	  SELECT
			ID
		  , PWD
		  , NAME
		  , STATUS
		  , SIGNUP_DATE
		  , CLASSIFY_MEM
	   FROM
	  	    COMMON
	  WHERE
	 	    ID = #{id}
	 	AND
	 		PWD = #{pwd}
	    AND 
	 	    STATUS = 'Y' 
	</select>
	
	<!-- 유저 테이블 select -->
	<select id="selectUser" resultMap="userCollResultSet">
		SELECT 
	          US.U_ID
	        , US.U_ADD
	        , US.U_EMAIL
	        , US.U_COUNTRY
	        , US.AREA_REGISTER
	        , US.AREA_CERTIFY
	        , US.AREA_CODE
	        , US.IS_MEMBERSHIP
	        , US.U_PAID_START
	        , US.U_PAID_END
	        , US.U_SUSPEND_START
	        , US.U_SUSPEND_END
	        , US.U_PROFILE
            , P.UP_CODE
            , P.UP_ROOT
            , P.UP_CL_NAME
            , P.UP_SV_NAME
            , P.UP_STATUS
            , P.U_ID
            , A.AREA_CODE
            , A.AREA_NAME
		FROM 
		     USER_ US
   LEFT JOIN USER_PROFILE P ON (US.U_ID = P.U_ID)
   LEFT JOIN USER_AREA A ON (US.AREA_CODE = A.AREA_CODE)
		WHERE
		     US.U_ID = #{id}
	</select>
	
	<!-- 소속사 테이블 select -->
	<select id="selectAgency" parameterType="Agency" resultMap="agencyResultSet">
		SELECT
		       AG_ID
		     , AG_NUM
		     , AG_PHONE
		     , AG_EMAIL
		FROM 
		      AGENCY
		WHERE 
		      AG_ID = #{id}
	</select>
	
	<!-- 아티스트 테이블 select -->
	<select id="selectArtist" parameterType="string" resultMap="artistCollResultSet">
      SELECT
	         ARTI_ID
	       , ARTI_ONE_NAME
	       , NICKNAME
	       , FACEBOOK
	       , INSTAGRAM
	       , TWITTER
	       , DAILY_MSG
	       , IS_TEAM
	       , ID
	       , ARTI_NAME_EN
           , ATT_ROOT
           , ATT_SV_NAME
	   FROM 
	         ART_PERSON
       JOIN
             ART_PIC USING(ARTI_ID)
      WHERE 
	         ARTI_ID = #{id}
	</select>
	
	<!-- 관리자 테이블 select -->
	<select id="selectAdmin" parameterType="Admin" resultMap="adminResultSet">
	SELECT
		   AD_ID
		 , AUTH_LV
 	 FROM
 	 	   ADMIN
 	 WHERE
 	 	   AD_ID = #{id}
	</select>
	
	<!-- 유저 아이디 찾기 -->
	<select id="findUserId" parameterType="hashMap" resultMap="findIdCollResultSet">
	SELECT 
	      U.U_ID
	    , C.NAME
	FROM 
		USER_ U
	JOIN 
		 COMMON C ON (C.ID = U.U_ID)
	WHERE 
	     U.U_EMAIL = #{userEmail}
	AND 
	     C.NAME = #{fullName}
	</select>
	
	<select id="findUserPwd" parameterType="Member" resultMap="commonResultSet">
	SELECT 
		  PWD, NAME
	FROM
		  COMMON
	WHERE
		  ID= #{id}
	</select>
	
</mapper>