<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage1Mapper">
	<!-- 공통 유저 정보 -->
	<resultMap type="Member" id="commonResultSet">
		<id property = "id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="name" column="NAME"/>
		<result property="status" column="STATUS"/>
		<result property="signupDate" column="SIGNUP_DATE"/>
		<result property="classifyMem" column="CLASSIFY_MEM"/>
	</resultMap>
	
	<select id="checkId" parameterType="string" resultType="String">
		SELECT
				ID
		  FROM
		  		COMMON
		 WHERE 
		 		ID = #{id}
	</select>

	<insert id="insertAgency" parameterType="Agency"></insert>
</mapper>