<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage1Mapper">
	<!-- 공통 유저 정보 -->
	<resultMap type="Member" id="commonResultSet">
		<id property = "id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="name" column="NAME"/>
		<result property="status" column="STATUS"/>
		<result property="signupDate" column="SIGNUP_DATE"/>
		<result property="classifyMem" column="CLASSIFY_MEM"/>
	</resultMap>
	
	<!-- 신고 쪽지객체(참) -->
	<resultMap type="Report" id="rptMessage">
		<id property="rptCode" column="RPT_CODE"/>
		<result property="rptType" column="RPT_TYPE"/>
		<result property="rptReason" column="RPT_REASON"/>
		<result property="rptDate" column="RPT_DATE"/>
		<result property="isReported" column="IS_REPORTED"/>
		<result property="rptId" column="U_ID"/>
		<result property="refId" column="MESS_NO"/>
	</resultMap>
	<!-- 쪽지 객체(참) -->
	<resultMap type="MessageList" id="MessageList">
		<id property="messCode" column="MESS_NO"/>
		<result property="messTitle" column="MESS_TITLE"/>
		<result property="messContent" column="MESS_CONTENT"/>
		<result property="messDate" column="MESS_DATE"/>
		<result property="messRead" column="MESS_READ"/>
		<result property="messSendId" column="U_ID_SEND"/>
		<result property="messRecId" column="U_ID_RECEIVE"/>
		<result property="messStatus" column="MESS_STATUS"/>
		<collection property="report" resultMap="rptMessage"/>
	</resultMap>
	
<!-- 신고객체 Fanstore -->
	<resultMap type="Report" id="rptFanstore">
		<id property="rptCode" column="RPT_CODE"/>
		<result property="rptType" column="RPT_TYPE"/>
		<result property="rptReason" column="RPT_REASON"/>
		<result property="rptDate" column="RPT_DATE"/>
		<result property="isReported" column="IS_REPORTED"/>
		<result property="rptId" column="rsendid"/>
		<result property="refId" column="F_CODE"/>
	</resultMap>
	 	<!-- 팬스토어 객체 -->
		<resultMap type="FanStore2" id="FanStore2">
			<id property="fcode" column="F_CODE"/>
			<result property="fname" column="F_NAME"/>
			<result property="offerprice" column="OFFER_PRICE"/>
			<result property="contect" column="CONTECT"/>
			<result property="deal" column="DEAL"/>
			<result property="finfo" column="F_INFO"/>
			<result property="isactive" column="IS_ACTIVE"/>
			<result property="id" column="rrecid"/>
			<result property="areacode" column="AREA_CODE"/>
		</resultMap>
	 	<!-- 팬스토어신고 --> 
		<resultMap type="FanstoreList" id="fanstoreListMap">
			<collection property="fanStore" resultMap="FanStore2"/>
			<collection property="report" resultMap="rptFanstore"/>
		</resultMap>
		
<!-- 신고객체 FanstoreR -->
		<resultMap type="Report" id="rptFanstoreR">
			<id property="rptCode" column="RPT_CODE"/>
			<result property="rptType" column="RPT_TYPE"/>
			<result property="rptReason" column="RPT_REASON"/>
			<result property="rptDate" column="RPT_DATE"/>
			<result property="isReported" column="IS_REPORTED"/>
			<result property="rptId" column="sendid"/>
			<result property="refId" column="FR_CODE"/>
		</resultMap>
	 	<!-- 팬스토어댓글 객체 -->
		<resultMap type="FanStoreR" id="fanStoreRset">
			<id property="frcode" column="FR_CODE"/>
			<result property="frdate" column="FR_DATE"/>
			<result property="frcontent" column="FR_CONTENT"/>
			<result property="fcode" column="F_CODE"/>
			<result property="id" column="recid"/>
		</resultMap>
	 	<!-- 팬스토어 댓글신고 --> 
		<resultMap type="FanstoreRList" id="fanstoreRListMap">
			<collection property="fanStoreR" resultMap="fanStoreRset"/>
			<collection property="report" resultMap="rptFanstoreR"/>
		</resultMap>
	
	
<!-- 신고객체미디어댓글  -->
		<resultMap type="Report" id="rptMediaR">
			<id property="rptCode" column="RPT_NUM"/>
			<result property="rptType" column="RPT_TYPE"/>
			<result property="rptReason" column="RPT_REASON"/>
			<result property="rptDate" column="RPT_DATE"/>
			<result property="isReported" column="IS_REPORTED"/>
			<result property="rptId" column="sendid"/>
			<result property="refId" column="CMT_NUM"/>
		</resultMap>
	 	<!-- 미디어댓글 객체, 똑같이 만들어서 생략 가능? -->
		<resultMap type="MediaR" id="mediarset">
			<id property="cmtnum" column="CMT_NUM"/>
			<result property="cmtctt" column="CMT_CTT"/>
			<result property="cmtdate" column="CMT_DATE"/>
			<result property="rptcount" column="RPT_COUNT"/>
			<result property="cmtstatus" column="CMT_STATUS"/>
			<result property="id" column="recid"/>
			<result property="recmtnum" column="RE_CMT_NUM"/>
			<result property="medianum" column="MEDIA_NUM"/>
		</resultMap>
	
	 	<!-- 미디어 댓글신고 --> 
		<resultMap type="MediaRList" id="mediaRListMap">
			<collection property="mediar" resultMap="mediarset"/>
			<collection property="report" resultMap="rptMediaR"/>
		</resultMap>


<!-- 마이페이지 User -->
<!-- 친구 -->
		<resultMap type="Friend" id="FriendRset">
			<id property="frCode" column="FR_CODE"/>
			<result property="frSend" column="U_ID_SEND"/>
			<result property="frRecId" column="U_ID_RECEIVE"/>
			<result property="frStatus" column="FR_STATUS"/>
		</resultMap>
		<!-- 프로필사진떄문에 FR컬럼 만들고, 해당 컬럼 임의로 대입-->
		<resultMap type="Attachment" id="UserProfileRset">
			<id property="attCode" column="UP_CODE"/>
			<result property="id" column="U_ID"/>
			<result property="attClName" column="UP_CL_NAME"/>
			<result property="attSvName" column="UP_SV_NAME"/>
			<!-- 프로필 상태 -->
			<result property="attStatus" column="UP_STATUS"/>
			<!-- 친구목록 -->
			<result property="attMain" column="FR"/>
		</resultMap>
		<resultMap type="FriendList1" id='FriendList1RSet'>
			<collection property="friend" resultMap="FriendRset"/>
			<collection property="attachment" resultMap="UserProfileRset"/>
		</resultMap>
<!-- Payment 삭제예정-->
		<!-- STORE -1-->	
<!-- 		<resultMap type="Store" id="storeRSet"> -->
<!-- 			<id property="pcode" column="P_CODE"/> -->
<!-- 			<result property="pname" column="P_NAME"/> -->
<!-- 			<result property="salesQ" column="SALES_Q"/> -->
<!-- 			<result property="qprice" column="Q_PRICE"/> -->
			
<!-- 			<result property="discount" column="DISCOUNT"/> -->
<!-- 			<result property="info" column="INFORMATION"/> -->
<!-- 			<result property="isView" column="IS_VIEW"/> -->
			
<!-- 			<result property="viewCount" column="VIEWCOUNT"/> -->
<!-- 			<result property="isSoldout" column="IS_SOLDOUT"/> -->
<!-- 			<result property="isActive" column="IS_ACTIVE"/> -->
<!-- 			<result property="cateCode" column="C_CODE"/> -->
<!-- 		</resultMap> -->
		
		<!-- S_CATEGORY -2-->		
<!-- 		<resultMap type="StoreCategory" id="StoreCategoryRSet"> -->
<!-- 			<id property="cateCode" column="C_CODE"/> -->
<!-- 			<result property="cateName" column="C_NAME"/> -->
<!-- 			<result property="artiNameEn" column="ARTI_NAME_EN"/> -->
<!-- 		</resultMap> -->
		
		<!-- P_INFO -4-->
<!-- 		<resultMap type="StoreInfo" id="StoreInfoRSet"> -->
<!-- 			<id property="pcode" column="P_CODE"/> -->
<!-- 			<result property="origin" column="ORIGIN"/> -->
<!-- 			<result property="brand" column="BRAND"/> -->
			
<!-- 			<result property="contact" column="CONTACT"/> -->
<!-- 			<result property="useTerm" column="USE_TERM"/> -->
<!-- 			<result property="offerings" column="OFFERINGS"/> -->
<!-- 			<result property="cancelInfo" column="CANCEL_INFO"/> -->
<!-- 		</resultMap> -->
		
		<!-- PAYMENT -5-->
<!-- 		<resultMap type="Payment" id="PaymentRSet"> -->
<!-- 			<id property="payCode" column="PAY_CODE"/> -->
<!-- 			<result property="payMethod" column="PAY_METHOD"/> -->
<!-- 			<result property="payStatus" column="PAY_STATUS"/> -->
<!-- 			<result property="payPrice" column="PAY_PRICE"/> -->
			
<!-- 			<result property="payDate" column="PAY_DATE"/> -->
<!-- 			<result property="id" column="ID"/> -->
<!-- 			<result property="payDivision" column="PAY_DIVISION"/> -->
<!-- 			<result property="payPlan" column="PAY_PLAN"/> -->
<!-- 		</resultMap> -->
		
		
		<!-- UserPaymentCol User Payment 컬렉션 -->
<!-- 		<resultMap type="UserPaymentCol" id="UserPaymentColRSet"> -->
<!-- 			<collection property="store" resultMap="storeRSet"/> -->
<!-- 			<collection property="storeCate" resultMap="StoreCategoryRSet"/> -->
<!-- 			<collection property="att" resultMap="AttachmentRSet"/> -->
<!-- 			<collection property="pinfo" resultMap="StoreInfoRSet"/> -->
<!-- 			<collection property="payment" resultMap="PaymentRSet"/> -->
<!-- 		</resultMap> -->
		
<!-- UserPaymentCol2 User Payment 컬렉션 -->
		<resultMap type="UserPaymentCol2" id="UserPaymentColRSet2">
			<collection property="payment" resultMap="PaymentRSet"/>
			<collection property="cart" resultMap="CartRSet"/>
			<collection property="store" resultMap="StoreRSet"/>
			<collection property="storeCate" resultMap="StoreCateRSet"/>
			<collection property="att" resultMap="AttachmentRSet"/>
			<collection property="mdatt" resultMap="MDAttRSet2"/>
			<collection property="media" resultMap="MediaRSet"/>
<!-- 			<collection property="pinfo" resultMap="StoreInfoRSet"/> -->
		</resultMap>
<!-- PAYMENT -->
		<resultMap type="Payment" id="PaymentRSet">
			<id property="payCode" column="PAY_CODE"/>
			<result property="payMethod" column="PAY_METHOD"/>
			<result property="payStatus" column="PAY_STATUS"/>
			<result property="payPrice" column="PAY_PRICE"/>
			<result property="payDate" column="PAY_DATE"/>
			<result property="id" column="ID"/>
			<result property="payDivision" column="PAY_DIVISION"/>
			<result property="payPlan" column="PAY_PLAN"/>
		</resultMap>		
<!-- CART -->		
		<resultMap type="Cart" id="CartRSet">
			<id property="cartCode" column="CART_CODE"/>
			<result property="buyQ" column="BUY_Q"/>
			<result property="buyPrice" column="B_PRICE"/>
			<result property="fee" column="FEE"/>
			<result property="enrollDate" column="ENROLL_DATE"/>
			<result property="isBought" column="IS_BOUGHT"/>
			<result property="boughtDate" column="BOUGHT_DATE"/>
			<result property="pcode" column="P_CODE"/>
			<result property="mediaNum" column="MEDIA_NUM"/>
			<result property="id" column="ID"/>
		</resultMap>
<!-- STORE -->
		<resultMap type="Store" id="StoreRSet">
			<id property="pcode" column="P_CODE"/>
			<result property="pname" column="P_NAME"/>
			<result property="salesQ" column="SALES_Q"/>
			<result property="qprice" column="Q_PRICE"/>
			<result property="discount" column="DISCOUNT"/>
			<result property="info" column="INFORMATION"/>
			<result property="isView" column="IS_VIEW"/>
			<result property="viewCount" column="VIEWCOUNT"/>
			<result property="isSoldout" column="IS_SOLDOUT"/>
			<result property="isActive" column="IS_ACTIVE"/>
			<result property="cateCode" column="C_CODE"/>
		</resultMap>
<!-- S_CATEGORY -->
		<resultMap type="StoreCategory" id="StoreCateRSet">
			<id property="cateCode" column="C_CODE"/>
			<result property="cateName" column="C_NAME"/>
			<result property="artiNameEn" column="ARTI_NAME_EN"/>
		</resultMap>
<!-- ATT_STORE -->
		<resultMap type="Attachment" id="AttachmentRSet">
			<id property="attCode" column="ATT_CODE"/>
			<result property="attRoot" column="ATT_ROOT"/>
			<result property="attClName" column="ATT_CL_NAME"/>
			
			<result property="attSvName" column="ATT_SV_NAME"/>
			<result property="attStatus" column="ATT_STATUS"/>
<!-- 			<result property="id" column="ARTI_NAME_EN"/> -->
			<!-- 참조 Store 코드 -->
			<result property="refId" column="P_CODE"/>
<!-- 			<result property="refuid" column="ARTI_NAME_EN"/> -->
			<result property="attMain" column="IS_MAIN_ATT"/>
		</resultMap>
<!-- MD_FILE -->
		<resultMap type="Attachment" id="MDAttRSet2">
			<id property="attCode" column="MD_ATT_CODE"/>
			<result property="attRoot" column="ATT_ROOT"/>
			<result property="attClName" column="PIC_CL_NAME"/>
			<result property="attSvName" column="PIC_SV_NAME"/>
		</resultMap>
<!-- MEDIA -->
		<resultMap type="Media" id="MediaRSet">
			<id property="mediaNum" column="MEDIA_NUM"/>
			<result property="mediaTtl" column="MEDIA_TTL"/>
			<result property="mediaCtt" column="MEDIA_CTT"/>
			<result property="mediaDate" column="MEDIA_DATE"/>
			<result property="mediaStatus" column="MEDIA_STATUS"/>
			<result property="isPay" column="IS_PAY"/>
			<result property="cateCode" column="CATE_CODE"/>
			<result property="mediaPay" column="MEDIA_PAY"/>
		</resultMap>		
		
		
		
		
		
	<select id="checkId" parameterType="string" resultType="integer">
		SELECT
				COUNT(*)
		  FROM
		  		COMMON
		 WHERE 
		 		ID = #{id}
	</select>

	<insert id="insertCommon" parameterType="Member">
		INSERT
		INTO COMMON
		(
			ID
		  , PWD
		  , NAME
		  , STATUS
		  , SIGNUP_DATE
		  , CLASSIFY_MEM
		)
		VALUES
		(
		    #{id}
		  , #{pwd}
		  , #{name}
		  , DEFAULT
		  , SYSDATE
		  , 3 
		)
	</insert>
	
	<insert id="insertAgency" parameterType="Agency">
		INSERT
		INTO AGENCY
		(
		       AG_ID
		     , AG_NUM
		     , AG_PHONE
		     , AG_EMAIL
		)
		VALUES
		( 
			#{agId}
		  , #{agNum}
		  , #{agPhone}
		  , #{agEmail}
		)		
	</insert>
	
	<select id="reportListCountMessage" resultType="_int">
		SELECT
				COUNT(*)
		  FROM
		  		RPT_MESSAGE
	</select>
	<select id="selectMsgList" resultMap="MessageList">
		SELECT  
				RPT_CODE
			  , RPT_TYPE
			  , RPT_REASON
			  , RPT_DATE
			  , IS_REPORTED
			  , U_ID
			  
			  , a.MESS_NO
			  , MESS_CONTENT
			  , MESS_TITLE
			  , MESS_DATE
			  , MESS_READ
			  , U_ID_SEND
			  , U_ID_RECEIVE
			  , MESS_STATUS
		  FROM
		   	 	RPT_MESSAGE a
	 LEFT JOIN
		    	MESSAGE b
		    ON
		    	a.MESS_NO = b.MESS_NO
	  ORDER BY 	RPT_DATE
	</select>
	
	<select id="reportListCountfanstore" resultType="_int">
		SELECT
				COUNT(*)
		  FROM
		  		RPT_FSTORE
	</select>
	
	<!-- 팬스토어신고 -->
	<select id="selectfanstoreList" resultMap="fanstoreListMap">
		SELECT  
			    r.F_CODE
			  ,	RPT_CODE
			  , RPT_TYPE
			  , RPT_REASON
			  , RPT_DATE
			  , IS_REPORTED
			  , r.ID as rsendid		<!-- 신고한 회원 -->
			  
			  ,	f.F_CODE	
			  ,	F_NAME
			  ,	OFFER_PRICE
			  ,	CONTECT
			  ,	DEAL
			  ,	F_INFO
			  ,	IS_ACTIVE
			  ,	f.ID as rrecid		<!-- 신고당한 회원 -->
			  ,	AREA_CODE
		  FROM
    			RPT_FSTORE r
	 LEFT JOIN
    		 	F_STORE f
			ON
    			r.F_CODE = f.F_CODE
      ORDER BY 	RPT_DATE
	</select>
	
	
	<select id="RListCountMethod" resultType="_int" parameterType="string">
		SELECT 
				COUNT(*)
		  FROM
		  <choose>
		  		
		  		<when test="_parameter == 'PRT_MESSAGE'">
					PRT_MESSAGE
				</when>
				<when test="_parameter == 'RPT_FSTORE'">
					RPT_FSTORE
				</when>
		  		<when test="_parameter == 'RPT_FREPLY'">
					RPT_FREPLY
				</when>
				<when test="_parameter == 'MD_CMT_RPT'">
					MD_CMT_RPT
				</when>
		  		<when test="_parameter == 'B_RPT'">
					B_RPT
				</when>
				<when test="_parameter == 'B_RE_RPT'">
					B_RE_RPT
				</when>
				<when test="_parameter == 'COMMON'">
					COMMON
				</when>
			  <otherwise>
			  		RPT_MESSAGE
			  </otherwise>
		  </choose>
	
<!-- 방법5		 
잘못된 비교 : java.util.LinkedHashMap 및 java.lang.String
### 원인 : java.lang.IllegalArgumentException : 유효하지 않은 비교 :   -->
<!-- 		 			<if test="#{category} == 'RPT_MESSAGE'.toString()"> -->
<!-- 		 				RPT_MESSAGE -->
<!-- 		 			</if> -->
<!-- 		 			<if test="#{category} == 'RPT_FSTORE'.toString()"> -->
<!-- 		 				RPT_FSTORE -->
<!-- 		 			</if> -->
<!-- 		 			<if test="#{category} == 'RPT_FREPLY'.toString()"> -->
<!-- 		 				RPT_FREPLY -->
<!-- 		 			</if> -->
<!-- 		 			<if test="#{category} == 'MD_CMT_RPT'.toString()"> -->
<!-- 		 				MD_CMT_RPT -->
<!-- 		 			</if> -->
<!-- 		 			<if test="#{category} == 'B_RPT'.toString()"> -->
<!-- 		 				B_RPT -->
<!-- 		 			</if> -->
<!-- 		 			<if test="#{category} == 'B_RE_RPT'.toString()"> -->
<!-- 		 				B_RE_RPT -->
<!-- 		 			</if> -->
		  
<!-- 방법4 -->		  
<!-- 		        <if test='#{category} == "RPT_MESSAGE"'> -->
<!-- 		  			RPT_MESSAGE -->
<!-- 		  	 	</if> -->
<!-- 		        <if test='#{category} == "RPT_FSTORE"'> -->
<!-- 		  			RPT_FSTORE -->
<!-- 		  	 	</if> -->
<!-- 		        <if test='#{category} == "RPT_FREPLY"'> -->
<!-- 		  			RPT_FREPLY -->
<!-- 		  	 	</if> -->
<!-- 		        <if test='#{category} == "MD_CMT_RPT"'> -->
<!-- 		  			MD_CMT_RPT -->
<!-- 		  	 	</if> -->
<!-- 		        <if test='#{category} == "B_RPT"'> -->
<!-- 		  			B_RPT -->
<!-- 		  	 	</if> -->
<!-- 		        <if test='#{category} == "B_RE_RPT"'> -->
<!-- 		  			B_RE_RPT -->
<!-- 		  	 	</if> -->
		  	 	
<!-- 방법3 -->
<!-- 		  	  <if test='#{category}.equals("RPT_MESSAGE")'> -->
<!-- 			  		RPT_MESSAGE -->
<!-- 			  </if> -->
<!-- 			  <if test='#{category}.equals("RPT_FSTORE")'> -->
<!-- 			  		RPT_FSTORE -->
<!-- 			  </if> -->
<!-- 			  <if test='#{category}.equals("RPT_FREPLY")'> -->
<!-- 			  		RPT_FREPLY -->
<!-- 			  </if> -->
<!-- 			  <if test='#{category}.equals("MD_CMT_RPT")'> -->
<!-- 			  		MD_CMT_RPT -->
<!-- 			  </if> -->
<!-- 			  <if test='#{category}.equals("B_RPT")'> -->
<!-- 			  		B_RPT -->
<!-- 			  </if> -->
<!-- 			  <if test='#{category}.equals("B_RE_RPT")'> -->
<!-- 			  		B_RE_RPT -->
<!-- 			  </if> -->
<!-- 방법1			   -->
<!-- 		  		#{category} -->
<!-- 방법2 -->
<!-- 		  <choose> -->
<!-- 		  <when test="'RPT_MESSAGE'.equals(#{category})"> -->
<!-- 		  		RPT_MESSAGE -->
<!-- 		  </when> -->
<!-- 		  <when test="'RPT_FSTORE'.equals(#{category})"> -->
<!-- 		  		RPT_FSTORE -->
<!-- 		  </when> -->
<!-- 		  <when test="'RPT_FREPLY'.equals(#{category})"> -->
<!-- 		  		RPT_FREPLY -->
<!-- 		  </when> -->
<!-- 		  <when test="'MD_CMT_RPT'.equals(#{category})"> -->
<!-- 		  		MD_CMT_RPT -->
<!-- 		  </when> -->
<!-- 		  <when test="'B_RPT'.equals(#{category})"> -->
<!-- 		  		B_RPT -->
<!-- 		  </when> -->
<!-- 		  <when test="'B_RE_RPT'.equals(#{category})"> -->
<!-- 		  		B_RE_RPT -->
<!-- 		  </when> -->
<!-- 		  <otherwise> -->
<!-- 		  		RPT_MESSAGE -->
<!-- 		  </otherwise> -->
<!-- 		  </choose> -->
	</select>
	
	<!-- 팬스토어 댓글 신고 -->
	<select id="selectfanstoreRList" resultMap="fanstoreRListMap">
        SELECT
                RPT_CODE
              , RPT_TYPE
              , RPT_REASON
              , RPT_DATE
              , IS_REPORTED
              , r.FR_CODE
              , r.ID as sendid
              
              , f.FR_CODE
              , FR_DATE
              , FR_CONTENT
              , F_CODE
              , f.ID as recid
          FROM
                RPT_FREPLY r
     LEFT JOIN
                F_REPLY f
            ON
                r.FR_CODE = f.FR_CODE
      ORDER BY 	RPT_DATE
	</select>
	
	<!-- 미디어 댓글 신고 -->
	<select id="requestReportMediaList" resultMap="mediaRListMap">
        SELECT
	            m.CMT_NUM
	          , CMT_CTT
	          , CMT_DATE
	          , RPT_COUNT
	          , CMT_STATUS
	          , m.ID as recid
	          , RE_CMT_NUM
	          , MEDIA_NUM
	          
	          , RPT_NUM
	          , RPT_TYPE
	          , RPT_REASON
	          , RPT_DATE
	          , IS_REPORTED
	          , r.ID as sendid
	          , r.CMT_NUM
	      FROM
	            MD_CMT_RPT r
	 LEFT JOIN
	            MD_CMT m
	        ON
	            r.CMT_NUM = m.CMT_NUM
	  ORDER BY 	RPT_DATE
	</select>
	
	
	
	
	
	
	
	<select id="requestCommonList" resultMap="commonResultSet">
	   SELECT
                ID
              , STATUS
              , NAME
              , SIGNUP_DATE
              , CLASSIFY_MEM
         FROM
                COMMON
        WHERE   
                CLASSIFY_MEM &lt;= 3
     ORDER BY 
                SIGNUP_DATE, 
    CASE WHEN   STATUS = 'Y' THEN 0 END
	</select>
	
	<!-- 마이페이지 User 친구 -->
	<!-- 마이페이지 User 친구 -->
	<select id="RListCountFriend" resultType="integer" parameterType="Member">
		SELECT
				COUNT(*)
		  FROM
		  		FRIEND     
         WHERE
             	FR_STATUS = 2
           AND  U_ID_RECEIVE = #{id}
	</select>
	<select id="requestFriendList" resultMap="FriendList1RSet">
   		SELECT
				FR_CODE
			  , U_ID_SEND
			  , U_ID_RECEIVE
			  , FR_STATUS
              , FR
                    
              , U_ID
              , UP_CL_NAME
              , UP_SV_NAME
              , UP_STATUS
		  FROM
                (SELECT
                    FR_CODE
                  , U_ID_SEND
                  , U_ID_RECEIVE
                  , FR_STATUS
                  , case when u_id_receive = 'user' then u_id_send
                        else u_id_receive end as FR
                FROM      
                    FRIEND) f
     LEFT JOIN
                USER_PROFILE a
            ON
                f.FR = a.U_ID
         WHERE
                 FR_STATUS = 2
	</select>
	<!-- 친구요청 리스트 -->
	<select id="RListCountFriendReq" resultType="integer" parameterType="Member">
		SELECT
				COUNT(*)
		  FROM
		  		FRIEND     
         WHERE
             	FR_STATUS = 1
           AND  U_ID_RECEIVE = #{id}
	</select>
	<select id="requestFriendList2" resultMap="FriendList1RSet">
   		SELECT
				FR_CODE
			  , f.U_ID_SEND
			  , U_ID_RECEIVE
			  , FR_STATUS
              
              , U_ID
              , UP_CL_NAME
              , UP_SV_NAME
              , UP_STATUS
		  FROM
		  		FRIEND f
     LEFT JOIN
                USER_PROFILE a
            ON
                f.U_ID_SEND = a.U_ID
         WHERE
                U_ID_RECEIVE = #{SerchCondition}
           AND  FR_STATUS = 1
	</select>
	
	<update id="userFriendUpdate2" parameterType="Friend">
 	UPDATE
            FRIEND
       SET
            FR_STATUS = #{frStatus}
     WHERE
            U_ID_SEND = #{frSend}
       AND  U_ID_RECEIVE  = #{frRecId}
	</update>

	<select id="RListCountPayList" parameterType="Member" resultType="integer">
			SELECT
					COUNT(*)
			  FROM
                    PAYMENT p
        INNER JOIN
                    CART c
                ON
                    p.PAY_CODE = c.PAY_CODE
        
        INNER JOIN
                    STORE s
                ON
                    c.P_CODE = s.P_CODE
        INNER JOIN     
                    S_CATEGORY sc
                ON
                    s.C_CODE = sc.C_CODE
        INNER JOIN
                    ATT_STORE atts
                ON
                    s.P_CODE = atts.P_CODE
                
             WHERE  
                    c.ID = #{id}
               AND  IS_MAIN_ATT = 'Y'
	</select>			
	
<!-- User 결제리스트 불러오기 -->
	<select id="requestPayList" resultMap="UserPaymentColRSet2">
            SELECT
                    CART_CODE
                  , BUY_Q
                  , B_PRICE
                  , FEE
                  , ENROLL_DATE
                  , IS_BOUGHT
                  , c.P_CODE
                  , c.MEDIA_NUM
                  , c.ID AS PAY_USERID
                  , BOUGHT_DATE
                  , c.PAY_CODE AS CPAY_CODE
                  
                  , PAY_METHOD
                  , PAY_STATUS
                  , PAY_PRICE
                  , PAY_DATE
                  , PAY_DIVISION
                  
                  , P_NAME
                  , SALES_Q
                  , Q_PRICE
                  , DISCOUNT
                  , IS_ACTIVE
                  , s.C_CODE
                  
                  , C_NAME
                  , ARTI_NAME_EN
                  
                  , atts.ATT_CODE
                  , atts.ATT_CL_NAME
                  , atts.ATT_SV_NAME
                  
                  , mf.ATT_CODE as MD_ATT_CODE
                  , mf.PIC_CL_NAME
                  , mf.PIC_SV_NAME
                  
                  , MEDIA_TTL
              FROM
                    PAYMENT p
        INNER JOIN
                    CART c
                ON
                    p.PAY_CODE = c.PAY_CODE
        
   LEFT OUTER JOIN
                    STORE s
                ON
                    c.P_CODE = s.P_CODE
   LEFT OUTER JOIN     
                    S_CATEGORY sc
                ON
                    s.C_CODE = sc.C_CODE
   LEFT OUTER JOIN
                    ATT_STORE atts
                ON
                    s.P_CODE = atts.P_CODE
                
   LEFT OUTER JOIN
                    MD_FILE mf
                ON 
                    c.MEDIA_NUM = mf.MEDIA_NUM
   LEFT OUTER JOIN      
                    MEDIA m
                ON
                    c.MEDIA_NUM = m.MEDIA_NUM
                
             WHERE  
                    c.ID = #{serchCondition}
               AND  (IS_MAIN_ATT != 'N' OR c.P_CODE IS NULL)
          ORDER BY  CART_CODE
	</select>	
	
<!-- 결제내역 업데이트 --> 
<!-- cartcode로 paycode 조회해오기 -->	
		<select id="selectPayCodeList" resultType="string" parameterType="UserPaymentCol2">
	        SELECT
	                PAY_CODE
	          FROM
	                CART
	         WHERE 
	                ID = #{ cart.id }
	           AND  CART_CODE = #{ cart.cartCode }		
		</select>
		
<!-- 주어진 CartCode 몇개인지 세기 -->
		<select id="CountCartCodeList" resultType="integer" parameterType="UserPaymentCol2">
			SELECT
					COUNT(*)
			  FROM
                    CART
             WHERE
                    PAY_CODE = #{ cart.payCode }
		</select>	

<!-- 1개일때 구매확정(미디어) -->

	<update id="userpaymentMConfirmUpdateC" parameterType="UserPaymentCol2" >
			UPDATE 
              (
               SELECT
                        CART_CODE
                      , IS_BOUGHT
                      , PAY_STATUS
                 FROM
                        PAYMENT p
           INNER JOIN
                        CART c
                   ON
                        c.PAY_CODE = p.PAY_CODE
                WHERE
                        CART_CODE = #{ cart.cartCode }
              ) 
           SET 
           		IS_BOUGHT = #{ cart.isBought }
	</update>
	<update id="userpaymentMConfirmUpdateP" parameterType="UserPaymentCol2" >
			UPDATE 
              (
               SELECT
                        CART_CODE
                      , IS_BOUGHT
                      , PAY_STATUS
                 FROM
                        PAYMENT p
           INNER JOIN
                        CART c
                   ON
                        c.PAY_CODE = p.PAY_CODE
                WHERE
                        CART_CODE = #{ cart.cartCode }
              ) 
           SET 
                PAY_STATUS = #{ payment.payStatus }
	</update>



</mapper>