<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="payMapper">
	<resultMap type="Cart" id="cartResultSet">
		<id property="cartCode" column="CART_CODE"/>
		<result property="buyQ" column="BUY_Q"/>
		<result property="buyPrice" column="B_PRICE"/>
		<result property="fee" column="FEE"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="isBought" column="IS_BOUGHT"/>
		<result property="pcode" column="P_CODE"/>
		<result property="mediaNum" column="MEDIA_NUM"/>
		<result property="id" column="ID"/>
	</resultMap>
	<resultMap type="StoreCategory" id="category">
		<id property="cateCode" column="C_CODE"/>
		<result property="cateName" column="C_NAME"/>
		<result property="artiNameEn" column="ANTI_NAME_EN"/>
	</resultMap>
	<resultMap type="Store" id="storeResultSet">
		<id property="pcode" column="P_CODE"/>
		<result property="pname" column="P_NAME"/>
		<result property="salesQ" column="SALES_Q"/>
		<result property="qprice" column="Q_PRICE"/>
		<result property="discount" column="DISCOUNT"/>
		<result property="info" column="INFORMATION"/>
		<result property="isView" column="IS_VIEW"/>
		<result property="viewCount" column="VIEWCOUNT"/>
		<result property="isSoldout" column="IS_SOLDOUT"/>
		<result property="isActive" column="IS_ACTIVE"/>
		<result property="cateCode" column="C_CODE"/>
	</resultMap>
	<resultMap type="Attachment" id="attResultSet">
		<id property="attCode" column="ATT_CODE"/>
		<result property="attRoot" column="ATT_ROOT"/>
		<result property="attClName" column="ATT_CL_NAME"/>
		<result property="attSvName" column="ATT_SV_NAME"/>
		<result property="attStatus" column="ATT_STATUS"/>
		<result property="attMain" column="IS_MAIN_ATT"/>
		<result property="refId" column="P_CODE"/>
	</resultMap>
	<resultMap type="CartCollection" id="cartCollResultSet">
		<collection property="cart" resultMap="cartResultSet"/>
		<collection property="storeCate" resultMap="category" />
		<collection property="store" resultMap="storeResultSet" />
		<collection property="att" resultMap="attResultSet" />
	</resultMap>
	<select id="selectCartList" parameterType="string" resultMap="cartCollResultSet">
		SELECT 
				CART_CODE
			  , BUY_Q
			  , B_PRICE
			  , FEE
			  , ENROLL_DATE
			  , IS_BOUGHT
			  , P_CODE
			  , MEDIA_NUM
			  , ID
			  , P_NAME
			  , SALES_Q
			  , Q_PRICE
			  , DISCOUNT
			  , INFORMATION
			  , IS_VIEW
			  , VIEWCOUNT
			  , IS_SOLDOUT
			  , IS_ACTIVE
			  , ARTI_NAME_EN
			  , ATT_CL_NAME
			  , ATT_SV_NAME
			  , ATT_STATUS
			  , IS_MAIN_ATT
		  FROM 	
		  		CART
		  JOIN 
		  		STORE USING(P_CODE)
		  JOIN 
		  		S_CATEGORY USING(C_CODE)
		  JOIN 
				ATT_STORE USING(P_CODE)
		 WHERE 
				ID = #{userId}
		   AND 	IS_MAIN_ATT = 'Y'
	  ORDER BY 	ENROLL_DATE DESC
	</select>
	<delete id="deleteStoreByCart" parameterType="_int">
		DELETE
		FROM 	CART
		WHERE
				CART_CODE = #{cartCode}
	</delete>
	<update id="minusQuantity" parameterType="hashMap">
		UPDATE
				CART
		   SET
		   		BUY_Q = BUY_Q - 1,
		   		B_PRICE = B_PRICE - #{price}
		 WHERE
		 		CART_CODE = #{cartCode}
	</update>
	<update id="plusQuantity" parameterType="hashMap">
		UPDATE
				CART
		   SET
		   		BUY_Q = BUY_Q + 1,
		   		B_PRICE = B_PRICE + #{price}
		 WHERE
		 		CART_CODE = #{cartCode}
	</update>
	<delete id="deleteChooseByCart">
		DELETE
		FROM CART
		WHERE
			CART_CODE IN
			<foreach collection="array" item="item" open="(" separator="," close=")">
		    #{item}
		    </foreach>
	</delete>
</mapper>