<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="payMapper">
	<resultMap type="Cart" id="cartResultSet">
		<id property="cartCode" column="CART_CODE"/>
		<result property="buyQ" column="BUY_Q"/>
		<result property="buyPrice" column="B_PRICE"/>
		<result property="fee" column="FEE"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="isBought" column="IS_BOUGHT"/>
		<result property="pcode" column="P_CODE"/>
		<result property="mediaNum" column="MEDIA_NUM"/>
		<result property="id" column="ID"/>
	</resultMap>
	<resultMap type="StoreCategory" id="category">
		<id property="cateCode" column="C_CODE"/>
		<result property="cateName" column="C_NAME"/>
		<result property="artiNameEn" column="ARTI_NAME_EN"/>
	</resultMap>
	<resultMap type="Store" id="storeResultSet">
		<id property="pcode" column="P_CODE"/>
		<result property="pname" column="P_NAME"/>
		<result property="salesQ" column="SALES_Q"/>
		<result property="qprice" column="Q_PRICE"/>
		<result property="discount" column="DISCOUNT"/>
		<result property="info" column="INFORMATION"/>
		<result property="isView" column="IS_VIEW"/>
		<result property="viewCount" column="VIEWCOUNT"/>
		<result property="isSoldout" column="IS_SOLDOUT"/>
		<result property="isActive" column="IS_ACTIVE"/>
		<result property="cateCode" column="C_CODE"/>
	</resultMap>
	<resultMap type="Attachment" id="attResultSet">
		<id property="attCode" column="ATT_CODE"/>
		<result property="attRoot" column="ATT_ROOT"/>
		<result property="attClName" column="ATT_CL_NAME"/>
		<result property="attSvName" column="ATT_SV_NAME"/>
		<result property="attStatus" column="ATT_STATUS"/>
		<result property="attMain" column="IS_MAIN_ATT"/>
		<result property="refId" column="P_CODE"/>
	</resultMap>
	<resultMap type="Official" id="mediaResultSet">
		<id property="mediaNum" column="MEDIA_NUM"/>
		<result property="mediaTtl" column="MEDIA_TTL"/>
		<result property="mediaCtt" column="MEDIA_CTT"/>
		<result property="mediaDate" column="MEDIA_DATE"/>
		<result property="mediaStatus" column="MEDIA_STATUS"/>
		<result property="isPay" column="IS_PAY"/>
		<result property="cateCode" column="CATE_CODE"/>
		<result property="mediaPay" column="MEDIA_PAY"/>
	</resultMap>
	<resultMap type="Category" id="mcateResultSet">
		<id property="cateCode" column="M_CATE_CODE"/>
		<result property="cateName" column="M_CATE_NAME"/>
		<result property="artiNameEn" column="M_ARTI_NAME_EN"/>
	</resultMap>
	<resultMap type="Attachment" id="attMediaResultSet">
		<id property="attCode" column="M_ATT_CODE"/>
		<result property="attRoot" column="M_ATT_ROOT"/>
		<result property="attClName" column="M_ATT_CL_NAME"/>
		<result property="attSvName" column="M_ATT_SV_NAME"/>
		<result property="attStatus" column="M_ATT_STATUS"/>
		<result property="refId" column="MEDIA_NUM"/>
		<result property="attMain" column="IS_THUMB"/>
	</resultMap>
	<resultMap type="CartCollection" id="cartCollResultSet">
		<collection property="cart" resultMap="cartResultSet"/>
		<collection property="storeCate" resultMap="category" />
		<collection property="store" resultMap="storeResultSet" />
		<collection property="att" resultMap="attResultSet" />
		<collection property="official" resultMap="mediaResultSet" />
		<collection property="mcategory" resultMap="mcateResultSet" />
		<collection property="attMedia" resultMap="attMediaResultSet" />
	</resultMap>
	<resultMap type="Payment" id="paymentResultSet">
		<id property="payCode" column="PAY_CODE"/>
		<result property="payMethod" column="PAY_METHOD"/>
		<result property="payStatus" column="PAY_STATUS"/>
		<result property="payPrice" column="PAY_PRICE"/>
		<result property="payDate" column="PAY_DATE"/>
		<result property="id" column="ID"/>
		<result property="payDivision" column="PAY_DIVISION"/>
		<result property="payPlan" column="PAY_PLAN"/>
	</resultMap>
	<resultMap type="ProductBuy" id="pbuyResultSet">
		<id property="bcode" column="B_CODE"/>
		<result property="productQ" column="PROD_Q"/>
		<result property="payCode" column="PAY_CODE"/>
		<result property="pcode" column="P_CODE"/>
	</resultMap>
	<resultMap type="PayCollection" id="payCollResultSet">
		<collection property="payment" resultMap="paymentResultSet"/>
		<collection property="pbuy" resultMap="pbuyResultSet" />
	</resultMap>
	<select id="selectCartList" parameterType="string" resultMap="cartCollResultSet">
		SELECT 
				CART_CODE
			  , BUY_Q
			  , B_PRICE
			  , FEE
			  , ENROLL_DATE
			  , IS_BOUGHT
			  , P_CODE
			  , MEDIA_NUM
			  , ID
			  , P_NAME
			  , SALES_Q
			  , Q_PRICE
			  , DISCOUNT
			  , INFORMATION
			  , IS_VIEW
			  , VIEWCOUNT
			  , IS_SOLDOUT
			  , IS_ACTIVE
			  , C_CODE
              , C_NAME
			  , SC.ARTI_NAME_EN AS "ARTI_NAME_EN"
			  , SATT.ATT_CL_NAME AS "ATT_CL_NAME"
			  , SATT.ATT_SV_NAME AS "ATT_SV_NAME"
			  , SATT.ATT_STATUS AS "ATT_STATUS"
			  , SATT.IS_MAIN_ATT AS "IS_MAIN_ATT"
			  , MEDIA_TTL
              , MEDIA_CTT
              , MEDIA_DATE
              , MEDIA_STATUS
              , IS_PAY
              , CATE_CODE AS "M_CATE_CODE"
              , MEDIA_PAY
              , CATE_NAME AS "M_CATE_NAME"
              , MC.ARTI_NAME_EN AS "M_ARTI_NAME_EN"
              , MATT.ATT_CODE AS "M_ATT_CODE"
              , MATT.ATT_CL_NAME AS "M_ATT_CL_NAME"
              , MATT.ATT_SV_NAME AS "M_ATT_SV_NAME"
              , MATT.ATT_STATUS AS "M_ATT_STATUS"
              , IS_THUMB
		  FROM 	
		  		CART C
		  LEFT JOIN 
		  		STORE S USING(P_CODE)
		  LEFT JOIN 
		  		S_CATEGORY SC USING(C_CODE)
		  LEFT JOIN 
				ATT_STORE SATT USING(P_CODE)
		  LEFT JOIN
		  		MEDIA M USING(MEDIA_NUM)
		  LEFT JOIN
		  		MD_FILE MATT USING(MEDIA_NUM)
		  LEFT JOIN
		  		M_CATEGORY MC USING(CATE_CODE)
		 WHERE 
				ID = #{userId}
	  ORDER BY 	ENROLL_DATE DESC
	</select>
	<delete id="deleteStoreByCart" parameterType="_int">
		DELETE
		FROM 	CART
		WHERE
				CART_CODE = #{cartCode}
	</delete>
	<update id="minusQuantity" parameterType="hashMap">
		UPDATE
				CART
		   SET
		   		BUY_Q = BUY_Q - 1,
		   		B_PRICE = B_PRICE - #{price}
		 WHERE
		 		CART_CODE = #{cartCode}
	</update>
	<update id="plusQuantity" parameterType="hashMap">
		UPDATE
				CART
		   SET
		   		BUY_Q = BUY_Q + 1,
		   		B_PRICE = B_PRICE + #{price}
		 WHERE
		 		CART_CODE = #{cartCode}
	</update>
	<delete id="deleteChooseByCart">
		DELETE
		FROM CART
		WHERE
			CART_CODE IN
			<foreach collection="array" item="item" open="(" separator="," close=")">
		    #{item}
		    </foreach>
	</delete>
	<!-- <insert id="insertStoreOnePayment" parameterType="PayCollection">
		INSERT
		INTO PAYMENT
		(
			PAY_CODE
		  , PAY_METHOD
		  , PAY_STATUS
		  , PAY_PRICE
		  , PAY_DATE
		  , ID
		  , PAY_DIVISION
		)
		VALUES
		(
			#{payment.payCode}
		  , #{
		)
	</insert> -->
</mapper>