<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- 만약에 null로 데이터가 전달 되었다면 빈칸이 아닌 NULL로 인식 -->
		<setting name="jdbcTypeForNull" value="NULL" />
		<!-- 데이터베이스로의 응답을 얼마나 오래 기다릴지 판단하는 타임 아웃 설정 -->
		<setting name="defaultStatementTimeout" value="25"/>
	</settings>
	
	<!-- typeAliases -->
	<typeAliases>
		<typeAlias type="com.kh.fantimate.member.model.vo.ArtistGroup" alias="ArtistGroup"/>
		<typeAlias type="com.kh.fantimate.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.fantimate.member.model.vo.User" alias="User"/>
		<typeAlias type="com.kh.fantimate.member.model.vo.Agency" alias="Agency"/>
		<typeAlias type="com.kh.fantimate.member.model.vo.Artist" alias="Artist"/>
		<typeAlias type="com.kh.fantimate.member.model.vo.Admin" alias="Admin"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Attachment" alias="Attachment"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Alarm" alias="Alarm"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Message" alias="Message"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Report" alias="Report"/>
		<typeAlias type="com.kh.fantimate.main.model.vo.FavoriteArtist" alias="FavoriteArtist"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.Store" alias="Store"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.StoreCollection" alias="StoreCollection"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.StoreCategory" alias="StoreCategory"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.Wish" alias="Wish"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.fantimate.official.model.vo.Official" alias="Official"/>
		<typeAlias type="com.kh.fantimate.official.model.vo.MediaCategory" alias="Category"/>
		<typeAlias type="com.kh.fantimate.official.model.vo.HitCount" alias="HitCount"/>
		<typeAlias type="com.kh.fantimate.official.model.vo.MediaCollection" alias="MediaCollection"/>
		<typeAlias type="com.kh.fantimate.official.model.vo.Schedule" alias="Schedule"/>
		<typeAlias type="com.kh.fantimate.main.model.vo.MainCollection" alias="MainCollection"/>
		<typeAlias type="com.kh.fantimate.main.model.vo.SubscribeArtist" alias="SubscribeArtist"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.StoreInfo" alias="StoreInfo"/>
		<typeAlias type="com.kh.fantimate.feed.model.vo.Feed" alias="Feed"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.Review" alias="Review"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.ReviewCollection" alias="ReviewCollection"/>
		<typeAlias type="com.kh.fantimate.pay.model.vo.Cart" alias="Cart"/>
		<typeAlias type="com.kh.fantimate.pay.model.vo.CartCollection" alias="CartCollection"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Subscribe" alias="Subscribe"/>
		<typeAlias type="com.kh.fantimate.feed.model.vo.FeedCollection" alias="FeedCollection"/>
		<typeAlias type="com.kh.fantimate.pay.model.vo.Payment" alias="Payment"/>
		<typeAlias type="com.kh.fantimate.pay.model.vo.ProductBuy" alias="ProductBuy"/>
		<typeAlias type="com.kh.fantimate.pay.model.vo.PayCollection" alias="PayCollection"/>
	</typeAliases>
	
	<!-- mappers -->
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/store-mapper.xml"/>
		<mapper resource="mappers/fanfeed-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/official-mapper.xml"/>
		<mapper resource="mappers/main-mapper.xml"/>
		<mapper resource="mappers/pay-mapper.xml"/>
	</mappers>
</configuration>