<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- 만약에 null로 데이터가 전달 되었다면 빈칸이 아닌 NULL로 인식 -->
		<setting name="jdbcTypeForNull" value="NULL" />
		<!-- 데이터베이스로의 응답을 얼마나 오래 기다릴지 판단하는 타임 아웃 설정 -->
		<setting name="defaultStatementTimeout" value="25"/>
		<!-- null대신 empty 리턴 -->
		<setting name="returnInstanceForEmptyRow" value="true"/>
	</settings>
	
	<!-- typeAliases -->
	<typeAliases>
		<typeAlias type="com.kh.fantimate.member.model.vo.ArtistGroup" alias="ArtistGroup"/>
		<typeAlias type="com.kh.fantimate.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.fantimate.member.model.vo.User" alias="User"/>
		<typeAlias type="com.kh.fantimate.member.model.vo.Agency" alias="Agency"/>
		<typeAlias type="com.kh.fantimate.member.model.vo.Artist" alias="Artist"/>
		<typeAlias type="com.kh.fantimate.member.model.vo.ArtistCollection" alias="ArtistCollection"/>
		<typeAlias type="com.kh.fantimate.member.model.vo.Admin" alias="Admin"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Attachment" alias="Attachment"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Like" alias="Like"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Report" alias="Report"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.MessageList" alias="MessageList"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.FanstoreList" alias="FanstoreList"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.FanStoreR" alias="FanStoreR"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.FanstoreRList" alias="FanstoreRList"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.FanStore2" alias="FanStore2"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.Media" alias="Media"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.MediaR" alias="MediaR"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.MediaRList" alias="MediaRList"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.FriendList1" alias="FriendList1"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.UserPaymentCol" alias="UserPaymentCol"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.UserPaymentCol2" alias="UserPaymentCol2"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.UserUpdateVo" alias="UserUpdateVo"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.ReportAdmin" alias="ReportAdmin"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.User2" alias="User2"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.AttSubscribe" alias="AttSubscribe"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.ArtiMain" alias="ArtiMain"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.SubscribeUser" alias="SubscribeUser"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.BoardR" alias="BoardR"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.BoardList" alias="BoardList"/>
		<typeAlias type="com.kh.fantimate.mypage1.model.vo.BoardRList" alias="BoardRList"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Alarm" alias="Alarm"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.BookMark" alias="BookMark"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Message" alias="Message"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Report" alias="Report"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Reply" alias="Reply"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.ReplyCollection" alias="ReplyCollection"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Friend" alias="Friend"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Like" alias="Like"/>
		<typeAlias type="com.kh.fantimate.main.model.vo.FavoriteArtist" alias="FavoriteArtist"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.Store" alias="Store"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.StoreCollection" alias="StoreCollection"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.StoreCategory" alias="StoreCategory"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.Wish" alias="Wish"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.fantimate.official.model.vo.Official" alias="Official"/>
		<typeAlias type="com.kh.fantimate.official.model.vo.MediaCategory" alias="Category"/>
		<typeAlias type="com.kh.fantimate.official.model.vo.HitCount" alias="HitCount"/>
		<typeAlias type="com.kh.fantimate.official.model.vo.MediaFile" alias="MediaFile"/>
		<typeAlias type="com.kh.fantimate.official.model.vo.MediaCollection" alias="MediaCollection"/>
		<typeAlias type="com.kh.fantimate.official.model.vo.Schedule" alias="Schedule"/>
		<typeAlias type="com.kh.fantimate.main.model.vo.MainCollection" alias="MainCollection"/>
		<typeAlias type="com.kh.fantimate.main.model.vo.FriendCollection" alias="FriendCollection"/>
		<typeAlias type="com.kh.fantimate.main.model.vo.FeedTopNineCollection" alias="FeedTopNineCollection"/>
		<typeAlias type="com.kh.fantimate.main.model.vo.MediaTopNineCollection" alias="MediaTopNineCollection"/>
		<typeAlias type="com.kh.fantimate.main.model.vo.StoreTopNineCollection" alias="StoreTopNineCollection"/>
		<typeAlias type="com.kh.fantimate.main.model.vo.SubscribeArtist" alias="SubscribeArtist"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.StoreInfo" alias="StoreInfo"/>
		<typeAlias type="com.kh.fantimate.feed.model.vo.Feed" alias="Feed"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.Review" alias="Review"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.ReviewCollection" alias="ReviewCollection"/>
		<typeAlias type="com.kh.fantimate.pay.model.vo.Cart" alias="Cart"/>
		<typeAlias type="com.kh.fantimate.pay.model.vo.CartCollection" alias="CartCollection"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Subscribe" alias="Subscribe"/>
		<typeAlias type="com.kh.fantimate.feed.model.vo.FeedCollection" alias="FeedCollection"/>
		<typeAlias type="com.kh.fantimate.pay.model.vo.Payment" alias="Payment"/>
		<typeAlias type="com.kh.fantimate.pay.model.vo.PayCollection" alias="PayCollection"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.BuyCollection" alias="BuyCollection"/>
		<typeAlias type="com.kh.fantimate.feed.model.vo.AttachmentF" alias="AttachmentF"/>
		<typeAlias type="com.kh.fantimate.common.model.vo.Reply" alias="Reply"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.FanStore" alias="FanStore"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.Area" alias="Area"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.HashTag" alias="HashTag"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.FStoreListCollection" alias="FStoreListCollection"/>
		<typeAlias type="com.kh.fantimate.store.model.vo.FanStoreReplyCollection" alias="FanStoreReplyCollection"/>
		<typeAlias type="com.kh.fantimate.member.model.vo.UserCollection" alias="UserCollection"/>
		<typeAlias type="com.kh.fantimate.member.model.vo.FindIdCollection" alias="FindIdCollection"/>
	</typeAliases>
	
	<!-- mappers -->
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/store-mapper.xml"/>
		<mapper resource="mappers/fanfeed-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/mypage1-mapper.xml"/>
		<mapper resource="mappers/mypage2-mapper.xml"/>
		<mapper resource="mappers/official-mapper.xml"/>
		<mapper resource="mappers/main-mapper.xml"/>
		<mapper resource="mappers/pay-mapper.xml"/>
		<mapper resource="mappers/fanStore-mapper.xml"/>
		<mapper resource="mappers/artistfeed-mapper.xml"/>
	</mappers>
</configuration>