@charset "UTF-8";

.mainPage-section{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
#mainPage-artistFavList{
	
	margin-top: 108px;
	margin-bottom: 40px;
    display: flex;
    justify-content: center;
	
}
/* #mainPage-artistList{
	
    padding: 30px 0px;

} */

#mainPage-wholeList{
	/* margin-top: 108px;
	height:600px; */
	display: flex;
    /* margin-top: 108px; */
    height: 1300px;
    max-width: 1200px;
    min-width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    margin: auto;
    padding-top: 108px;
}
/**/
/**/

.artists-L{
	max-width: 1200px;
    min-width: 1200px;
    height: 900px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* justify-content: center; */
    /* margin-bottom: 40px; */
    justify-content: flex-start;
}

/* 타이틀 호버 */

.feed-title, .media-title, .store-title, .chart-title{
    padding-left: 20px;
    height: 110px;
    width: 1200px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.chart-title{
    justify-content: space-between;
    font-size: 20px;
    
}

#goTo-chart{
    margin-right: 100px;
    color: inherit;
    text-decoration: none;
    color: #5C5F78;
    font-family: 'Wemakeprice';
}

#goTo-chart:hover{
    color: #ec8c8c;
}

.mainPage-artistFeed-title, .mainPage-artistMedia-title, .mainPage-artistStore-title, .mainPage-artistChart-title{
    position: relative;
    z-index:2;
    
}


.feed-title::after{
    content:'';
    position: absolute;
    top: 0;
    right: 70%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all .7s;
    z-index: 1;
}

.media-title::after{
    content:'';
    position: absolute;
    top: 0;
    right: 66%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all .7s;
    z-index: 1;
}

.store-title::after{
    content:'';
    position: absolute;
    top: 0;
    right: 78%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all .7s;
    z-index: 1;
}

.chart-title::after{
    content:'';
    position: absolute;
    top: 0;
    right: 71%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all .7s;
    z-index: 1;
}


.feed-title:hover::after{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #E5D2D2;
    right:67%;
}

.media-title:hover::after{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #F4D4D4;
    right:66%;
}

.store-title:hover::after{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(92, 95, 120, 0.6);
    right:78%;
}

.chart-title:hover::after{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #DEDEDE;
    right:71%;
}

/* 이미지 호버 */
.artistList-move, .artistList-move2{
    position: relative;
    display: inline-table;
    overflow: hidden;
    margin: 0 20px;
}

.artistList-move img, .artistList-move2 img{
    max-width: 100%;
    object-fit: cover;
}

.artistList-move span.artist-name , .artistList-move2 span.artist-name{
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    width: 100%;
    font-size: 36px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    display: none;
}

.artistList-move2 img.fav-img{
	position: absolute;
    top: 12%;
    right: 3%;
    transform: translateY(-50%);
    font-size: 36px;
    display: none;
    width: 40px;
    height: 40px;
    
}



.artistList-move::before{
    content:'';
    position: absolute;
    top: 0;
    left:-100%;
    transition: all .7s;
    background: rgba(92, 95, 120, 0.65);
    width: 100%;
    height: 100%;
}

.artistList-move2::before{
	content:'';
    position: absolute;
    top: 0;
    left:-100%;
    transition: all .7s;
    background: rgba(229, 210, 210, 0.70);
    width: 100%;
    height: 100%;
}

.artistList-move:hover span.artist-name , .artistList-move2:hover span.artist-name, .artistList-move2:hover img.fav-img{
    display: block;
}

.artistList-move:hover::before , .artistList-move2:hover::before{
    left:0;
}

/**/

.artist-pic{
    width: 360px;
    height: 260px;

}

.mainPage-artistFeed, .mainPage-media, .mainPage-chart ,.mainPage-store{
    max-width: 1200px;
    height: 430px;
    margin: auto;
    margin-top: 77px;
    border:1px
}

.mainPage-artistFeed-title, .mainPage-artistMedia-title, .mainPage-artistStore-title, .mainPage-artistChart-title{
    font-size: 30px;
    font-family: "Wemakeprice";
    color: #5C5F78;
    padding-left:20px;
}

.feed-pic, .media-pic{
    width: 300px;
    height: 209px;
    box-shadow : 0px 5px 8px rgb(0 0 0 / 7%);
}

#numberOneChart{
    width: 454px;
    /*height: 298px;*/
    padding: 0 10px;

}

.chart-pic{
    width: 284px;
    /*height: 183px;*/
}

.store-background{
    width: 278px;
    height: 278px;
    box-shadow : 0px 5px 8px rgb(0 0 0 / 7%);
}

.store-feed-info{
    position: relative;
}

.store-pic{
    position: absolute;
    left: 15%;
    top: 12%;
    width: 200px;
    height: 200px;
    box-shadow : 0px 5px 8px rgb(0 0 0 / 15%);
}

.slide-btn{
    width: 30px;
    height: 34px;
}

.feed-slide-section, .media-slide-section, .store-slide-section{
    width: 1200px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.chart-slide-section{
    width: 1200px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.chart-rank{
    color:#5C5F78;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
	font-family:"Wemakeprice";
}

/*프로필 동그라미*/
.profile-circle{
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}

.feed-profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/**/

/* 아티스트 인기 피드 프로필 정보 */

.profile-info{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.feed-info-section, .media-info-section{
	background:white;
    display: flex;
    justify-content: space-between;
    box-shadow : 0px 5px 8px rgb(0 0 0 / 7%);
}

.chart-info-section{
    display: flex;
    justify-content: space-between;
}

.rank1-info-section{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.profile-name{
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #5C5F78;
    font-family:Wemakeprice;
}




/* 좋아요 정보 */
.like-info, .play-info{
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-right:10px;
}

.like-img, .play-img{
    /*width: 32px;*/
    height: 30px;
}



.like-count{
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #5C5F78;
    font-family:'Wemakeprice';
}

/* 슬라이드 버튼 */
.slide-btn{
    width: 30px;
    height: 34px;
}

/* 피드 인기글 사진없이 글만 있을 경우*/
.feed-text-section{
    position: relative;
    white-space: normal;
}

.feed-text{
    position:absolute;
    top:50%;
    left:0.5%;
    transform: translateY(-50%);
    width: 100%;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-align:center;
}

/* 스크롤바 꾸미기 시작 */
body::-webkit-scrollbar {
    /* 스크롤바 전체 */
    width: 10px;
    background: #FBF6F6;

}

body::-webkit-scrollbar-thumb {
    /* 스크롤 막대 */
    background: #5C5F78;
    background-clip: padding-box;
    border-radius: 5px;
    border: 2.5px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
    background: #F4D4D4;
    background-clip: padding-box;
    border: 2.5px solid transparent;
}

body::-webkit-scrollbar-track {
    /* 스크롤 막대 외부 */
    border-radius: 5px;
    background: transparent;
}


/* 이미지 커졌다 작아졌다 */

.img-box{
    display: flex;
    transform:translate(-1%,-1%);
    width: 300px;
    height: 209px;
    
}
.img-box > img{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 100%;
    transition: transform 1.5s;
    box-shadow : 0px 5px 8px rgb(0 0 0 / 7%);
}

.img-box:hover > img{
    transform:translate(-50%,-50%) scale(1.2);
}


/* 슬라이드 처리 */

.mainPage-artistFeed input[id*="slide"] , .mainPage-media input[id*="slide"] ,.mainPage-store input[id*="slide"]{
    display: none;
}

.mainPage-artistFeed .slide-wrap , .mainPage-media .slide-wrap , .mainPage-store .slide-wrap  {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;

}

.mainPage-artistFeed .slide-list , .mainPage-media .slide-list ,.mainPage-store .slide-list  {
    white-space: nowrap;
}

.mainPage-artistFeed .slide-list > li , .mainPage-media .slide-list > li ,.mainPage-store .slide-list > li{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.mainPage-artistFeed .slide-list label , .mainPage-media .slide-list label ,.mainPage-store .slide-list label{
    /*position: absolute;*/
    z-index: 10;
    top:50%;
    transform:translateY(-50%);
    padding: 20px;
    cursor: pointer;
}

.mainPage-artistFeed .slide-list .left{
	display:none;
    left: 30px;
    background:url("/fantimate/resources/images/main/left-arrow.svg") center center / 100% no-repeat;
}

.mainPage-artistFeed .slide-list .right {
	display:none;
    right: 30px;
    background:url("/fantimate/resources/images/main/right-arrow.svg") center center / 100% no-repeat;
}

.mainPage-media .slide-list .left{
	display:none;
    left: 30px;
    background:url("/fantimate/resources/images/main/left-arrow.svg") center center / 100% no-repeat;
}

.mainPage-store .slide-list .left{
	display:none;
	left: 30px;
    background:url("/fantimate/resources/images/main/left-arrow.svg") center center / 100% no-repeat;
}

.mainPage-media .slide-list .right{
	display:none;
    right: 30px;
    background:url("/fantimate/resources/images/main/right-arrow.svg") center center / 100% no-repeat;

}

.mainPage-store .slide-list .right{
	display:none;
	 right: 30px;
    background:url("/fantimate/resources/images/main/right-arrow.svg") center center / 100% no-repeat;
}

.mainPage-artistFeed [id="slide01"]:checked ~ .slide-wrap .slide-list > li , .mainPage-media [id="slide04"]:checked ~ .slide-wrap .slide-list > li ,.mainPage-store [id="slide07"]:checked ~ .slide-wrap .slide-list > li{
    transform: translateX(0%);
}
.mainPage-artistFeed [id="slide02"]:checked ~ .slide-wrap .slide-list > li , .mainPage-media [id="slide05"]:checked ~ .slide-wrap .slide-list > li ,.mainPage-store [id="slide08"]:checked ~ .slide-wrap .slide-list > li{
    transform: translateX(-100%);
}
.mainPage-artistFeed [id="slide03"]:checked ~ .slide-wrap .slide-list > li , .mainPage-media [id="slide06"]:checked ~ .slide-wrap .slide-list > li , .mainPage-store [id="slide09"]:checked ~ .slide-wrap .slide-list > li {
    transform: translateX(-200%);
}

.slide-list{
    padding-left: 0px;
}


/*푸터*/
#footer-section{
    width: 100%;
    height: 305px;
    background: #5C5F78;
    color:#fff;
    margin-top: 250px;
    text-align: center;
    padding-top: 140px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
}

#friendContent{
    display: none;
}