@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}

.insert-section {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 3;
	height: 100%;
	width: 100%;
	display: none;
}

.main-template {
    width: 800px;
    height: 980px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbf6f6;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 4;
}

.main-template::-webkit-scrollbar {
    background: #ebebeb;
    width: 8px;
}

.main-template::-webkit-scrollbar-thumb {
    background: #5C5F78;
    border-radius: 5px;
    border: 2px solid transparent;
}

.store-write-title {
    padding: 30px 20px;
    margin: 0;
    font-family: Wemakeprice;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    /* border: 2px solid red; */
}

.store-write {
    width: 95%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.store-write > tbody > tr > th {
    width: 150px;
    /* border: 2px solid red; */
}

.store-write > tbody > tr > td {
    height: 50px;
    /* border: 2px solid red; */
}

.store-write > tbody > tr:nth-of-type(4) > td {
	height: 80px;
}


.artist-search {
    position: relative;
    width: 90%;
    height: 100%;
    border: 2px solid red;
}

.artist-search img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.artist-search input {
    width: 100%;
}

.tag-search input {
	height: 50px;
}

.search-area {
    /* border: 2px solid red; */
    padding: 0 30px;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 100%;
    box-sizing: border-box;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    z-index: 2;
    display: none;
}

.search-area::-webkit-scrollbar {
    background: white;
    width: 8px;
}

.search-area::-webkit-scrollbar-thumb {
    background: #5C5F78;
    border-radius: 5px;
    border: 2px solid transparent;
}

.search-area p {
    cursor: pointer;
}

.tagArea {
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	flex-wrap: wrap;
	border: 2px solid blue;
	margin: 0;
}

.tagArea > li {
	min-width: 80px;
    height: 30px;
    background: #FCEAE5;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Yoon Minguk;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
    padding: 0 15px;
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.15);
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.artist-search.tag-search img {
    position: absolute;
    left: 20px;
    top: 25px;
}

.artist-search.tag-search input.input-data {
    padding-left: 60px;
}

.select {
    width: 90%;
    height: 100%;
    font-family: Yoon Minguk;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    color: #5C5F78;
    padding: 0 30px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
}

.input-data {
    width: 90%;
    height: 100%;
    font-family: Yoon Minguk;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    color: #5C5F78;
    padding: 0 0 0 30px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    background: white;
}

.input-data:focus {
    outline: 1px solid #c92a2a;
    border-radius: 3px;
}

.input-data::placeholder {
    color: lightgray;
}

.guide-text {
    width: 90%;
    resize: none;
    border: 1px solid lightgray;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    color: #5C5F78;
}

.guide-text::-webkit-scrollbar {
    background: white;
    width: 7px;
}

.guide-text::-webkit-scrollbar-thumb {
    background: #5C5F78;
    border-radius: 4px;
    border: 3px solid transparent;
}


.my-photo {
    width: 95%;
    /* border: 2px solid red; */
    margin: 20px auto 0;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: no-wrap;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}


.guide {
    position: absolute;
    top: 0;
    left: 10px;
    margin: 0;
    padding: 0;
    font-family: Wemakeprice;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}

.my-photo::-webkit-scrollbar {
    background: #fbf6f6;
    width: 8px;
    height: 8px;
}

.my-photo::-webkit-scrollbar-thumb {
    background: #5C5F78;
    border-radius: 5px;
    border: 3px solid transparent;
}

.my-photo label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px 40px 0;
    flex: 0 0 auto;
}

.main-photo {
    width: 132px;
    height: 132px;
    background: #ebebeb;
    position: relative;
}

.main-photo-img {
    width: 132px;
    height: 132px;
    position: absolute;
    top: 0;
    left: 0;
}

.add-photo {
    width: 110px;
    height: 110px;
    background: #ebebeb;
    position: relative;
}

.add-photo-img {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.click-btn {
    font-size: 30px;
}

.btn-area {
    width: 100%;
    height: 100px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-area button {
    width: 160px;
    height: 50px;
    outline: none;
    border: none;
    margin: 15px 30px 0;
    font-family: Yoon Minguk;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.enroll-btn {
    background-color: #F4D4D4;
    color: #5C5F78;
}

.cancel-btn {
    background-color: #5C5F78;
    color: white;
}

.store-write tr:last-of-type td {
    position: relative;
}

.limit-text {
    position: absolute;
    bottom: 10px;
    right: 68px;
    font-size: 13px;
    color: lightgray;
}