@charset "UTF-8";

/* 본문 시작 */
.main-section {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}


.main-contents {
    width: 90%;
    max-width: 1500px;
    height: 100%;
    /* border: 2px solid blue; */
    box-sizing: border-box;
}

.fanstore-search-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 2px solid blue; */
}

/* 버튼영역 */
.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid blue; */
}

.settings div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 300px;
    box-sizing: border-box;
}

.setting-btn {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: Yoon Minguk;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(100, 100, 100, 0.15);
}

.my-area {
    background: #E5D2D2;
    color: white;
}

.enroll-btn {
    background: #5C5F78;
    color: white;
    box-shadow: 0 2px 5px rgba(100, 100, 100, 0.5);
}

.setting-btn:active {
    top: 4px;
    box-shadow: none;
}

.settings div p {
    margin: 0;
    text-align: left;
}

.settings div .my-zone {
    position: relative;
    /* border: 2px solid red; */
}

.settings div .my-zone::after {
    content: '';
    width: 10px;
    height: 17px;
    border-bottom: 5px solid #f4d4d4;
    border-right: 5px solid #f4d4d4;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(150%, -38%) rotate(45deg);
    z-index: 2;
}

/* 검색영역 */
.search-area {
    /* border: 2px solid red; */
    width: 80%;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px;
    position: relative;
    /* border: 2px solid red; */
}

.search-content img {
    width: 30px;
    height: 30px; 
    cursor: pointer;
    position: absolute;
}

.search-content img:first-of-type {
    left: 10px;
}

.search-content img:last-of-type {
    right: 10px;
}


.search-content input {
    max-width: 600px;
    width: 100%;
    height: 50px;
    font-family: Yoon Minguk;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-bottom: 3px solid #f4d4d4;
    background-color: #fbf6f6;
    padding: 0 50px;
    outline: none;
    color: #5C5F78;
    box-sizing: border-box;
}

.search-content input::placeholder {
    font-family: Yoon Minguk;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: lightgray;
}

.search-result {
    position: absolute;
    max-width: 600px;
    width: 100%;
    background-color: white;
    top: 100%;
    height: 120px;
    padding: 0 50px;
    box-sizing: border-box;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    z-index: 2;
    display: none;
}

.search-result::-webkit-scrollbar {
    background: white;
    width: 8px;
}

.search-result::-webkit-scrollbar-thumb {
    background: #5C5F78;
    border-radius: 5px;
    border: 2px solid transparent;
}

.search-result p {
    cursor: pointer;
}

.top-hashtag {
    /* border: 2px solid red; */
    max-width: 600px;
    width: 80%;
}

.top-hashtag ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-hashtag ul li {
    min-width: 80px;
    height: 30px;
    background: #FCEAE5;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Yoon Minguk;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
    padding: 0 15px;
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.15);
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.top-hashtag ul li:active {
    top: 2px;
    box-shadow: none;
}


/* 토글영역 */
.toggle-area {
    width: auto;
    min-width: 300px;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.toggle-switch {
    --width: 80px;
    --height: 40px;
    --padding: 3px;
    --handle-size: calc(var(--height) - var(--padding) * 2);
    display: inline-block;
    outline-width: 0;
}
  
.toggle-switch > input {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
}
  
.area {
    padding: 4px;
    margin: -4px;
    position: relative;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}

.area p {
    margin: 0;
    padding: 1px 3px 0;
    font-size: 13px;
    position: absolute;
    right: 13px;
    font-family: "Wemakeprice-bold";
}
  
.background,
.handle,
.area p {
    transition: all 0.3s ease;
}
  
.background {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: var(--width);
    height: var(--height);
    border-radius: var(--height);
    padding: 0 var(--padding);
    vertical-align: text-bottom;
    user-select: none;
    background-color: #ebebeb;
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: background-color .15s ease;
    cursor: pointer;
}

  
.handle {
    width: var(--handle-size);
    height: var(--handle-size);
    background-color: white;
    border-radius: 50%;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.5),
        inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

input:checked + label .area .background {
    background-color: #5C5F78;
}

input:checked + label .area .handle {
    /* background-color: white; */
    transform: translateX(calc(var(--width) - var(--handle-size)));
}

input:checked + label .area p {
    position: absolute;
    left: 12px;
    color: white;
}
  
/*******************************************************************/

/* 컨텐츠 영역 */
.store-product {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0 0 0 10px;
    /* border: 2px solid red; */
    margin: 0 auto;
    min-width: 840px;
    max-width: 1370px;
    box-sizing: border-box;
    flex-wrap: wrap;
    height: 1190px;
    overflow: hidden;
}

.product-background {
    width: 250px;
    height: 350px;
    background: #ebebeb;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-spacing: 10px; */
    margin: 20px 10px;
    overflow: hidden;
}

.product-info {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 250px;
    height: 350px;
    background:#5C5F78;
    opacity: 0;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: all 0.5s;
}

.enroll-hash {
    width: 100%;
    height: 50%;
    /* border: 2px solid red; */
}

.enroll-hash ul {
    list-style-type: none;
    padding: 0 0 0 8px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.enroll-hash ul li {
    min-width: 50px;
    height: 20px;
    background: #FCEAE5;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Yoon Minguk;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    margin: 5px 10px;
    padding: 0 15px;
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.15);
    box-sizing: border-box;
    position: relative;
    color: #5C5F78;
    cursor: pointer;
}

.product-info p {
    margin: 0;
}

.product-info sub {
    color: #d1cdcd;
}

.product-info p:first-of-type {
    margin-top: 15px;
}


.store-icon {
    position: absolute;
}

.ddim-icon {
    right: 5px;
    bottom: 5px;
    width: 30px;
    height: 30px;
}

.ddim {
    z-index: 2;
}

.noddim {
    z-index: 1;
}

.product-background:hover .product-info {
    top: 0;
    left: 0;
    opacity: 0.8;
}


.more-product {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.more-btn {
    width: 200px;
    height: 150px;
    font-size: 33px;
    text-align: center;
    font-family: "Wemakeprice-bold";
    color: #E5D2D2;
    border: none;
    background-color: #fbf6f6;
    outline: none;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    position: relative;
}

.more-btn:active {
    top: 3px;
    text-shadow: none;
}
