@charset "UTF-8";

.main-section {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.store-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 190px;
    /* border: 2px solid red; */
    min-width: 840px;
    max-width: 1100px;
    box-sizing: border-box;
}

.store-category ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

.store-category ul li {
    padding: 10px 60px;
    padding-left: 5px;
}

.store-category ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #5C5F78;
    letter-spacing: 2px;
}

.toggle-area {
    width: auto;
    height: auto;
    /* border: 2px solid red; */
}

.toggle-switch {
    --width: 80px;
    --height: 40px;
    --padding: 3px;
    --handle-size: calc(var(--height) - var(--padding) * 2);
    display: inline-block;
    outline-width: 0;
  }
  
  .toggle-switch > input {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
  }
  
  .area {
    padding: 4px;
    margin: -4px;
    position: relative;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
  }

  .area p {
      margin: 0;
      padding: 1px 3px 0;
      font-size: 13px;
     position: absolute;
     right: 13px;
     font-family: "Wemakeprice-bold";
  }
  
  .background,
  .handle,
  .area p {
    transition: all 0.3s ease;
  }
  
  .background {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: var(--width);
    height: var(--height);
    border-radius: var(--height);
    padding: 0 var(--padding);
    vertical-align: text-bottom;
    user-select: none;
    background-color: #ebebeb;
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: background-color .15s ease;
    cursor: pointer;
  }

  
  .handle {
    width: var(--handle-size);
    height: var(--handle-size);
    background-color: white;
    border-radius: 50%;
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.5),
      inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  input:checked + label .area .background {
    background-color: #5C5F78;
  }
  
  input:checked + label .area .handle {
    /* background-color: white; */
    transform: translateX(calc(var(--width) - var(--handle-size)));
  }

  input:checked + label .area p {
    position: absolute;
    left: 12px;
    color: white;
  }
  

.circle {
    display: inline-table;
    position: relative;
}

.circle a{
    position: relative;
    z-index: 2;
}

.circle::before {
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #F4D4D4;
    position: absolute;
    left: -35px;
    bottom: -5px;
    transform: scale(0);
    transition: all 0.5s;
}

.highlight::after {
    content: '';
    width: 0;
    height: 100%;
    border-bottom: 3px solid #F4D4D4;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}

.circle.special::before {
    transform: scale(1);
}

.highlight.special::after {
    width: 130%;
}

.circle.click-li::before {
    transform: scale(1);
}

.highlight.click-li::after {
    width: 130%;
}

/*******************************************************************/

.store-product {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 840px;
    max-width: 1100px;
    box-sizing: border-box;
    flex-wrap: wrap;
    height: 1200px;
    overflow: hidden;
}

.product-background {
    width: 250px;
    height: 350px;
    background: #ebebeb;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    overflow: hidden;
}

.product-info {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    height: 175px;
    background:#5C5F78;
    opacity: 0.8;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: all 0.5s;
}

.product-info p {
    margin: 0;
}

.product-info sub {
    color: #d1cdcd;
}

.product-info p:first-of-type {
    margin-top: 15px;
}


.store-icon {
    position: absolute;
}

.ddim-icon {
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
}

.ddim {
    z-index: 2;
}

.noddim {
    z-index: 1;
}

.cart-icon {
    right: 5px;
    bottom: 5px;
}

.product-background:hover .product-info {
    top: 50%;
}
