@charset "UTF-8";

/* 나눔스퀘어 글씨체 */
.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important;
}

button {
	cursor: pointer;
}

/* 스토어 관리, 오피셜 관리 팝업 */
.pop-up {
	display: none;
}

.black-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.2;
    z-index: 1;
}

.pop-up-form {
    height: 267px;
    width: 500px;
    background: #FBF6F6;
    padding: 20px 30px 20px 30px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

.pop-up-text {
    font-weight: 900;
    font-size: 25px;
}

.choose-artist, .move-text {
	/* border: 1px solid red; */
	width: 100%;
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.select-area {
    /* border: 1px solid red; */
    width: 200px;
    height: 100px;
    margin: auto;
}

.form-category {
    width: 200px;
    height: 35px;
    outline-style: none;
    margin: auto;
    text-align: center;
}

.btn-area {
    display: flex;
}

.sub-btn-area, .move-text {
	display: none;
}

.btn-area button, .sub-btn-area button {
    width: 100px;
    height: 25px;
    border: none;
    font-size: 16px;
    outline-style: none;
}

.pink-btn {
    background: #F4D4D4;
}

.blue-btn {
    background: #5C5F78;
    color: white;
    cursor: pointer;
}

#scheduleBtn {
    background: #E5D2D2;
}

/* 솔로, 그룹 아티스트 등록 팝업 */
.solo-form-container, .team-form-container {
	display: none;
}

.solo-artist-form {
	height: 530px;
    width: 676px;
    background: white;
    padding: 20px 30px 20px 30px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

.team-artist-form {
	height: 570px;
    width: 676px;
    background: white;
    padding: 20px 30px 20px 30px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

.artist-text {
	font-size: 23px;
	font-weight: 700;
}

.artist-table {
	width: 100%;
	height: 70%;
	margin-top: 20px;
}

.artist-table tr {
	height: 40px;
	font-size: 20px;
}

.artist-table td:first-of-type {
	text-align: right;
}

.artist-table input {
	height: 20px;
	border: 1px solid #ACACAC;
	outline: none;
}

.check-text {
	font-size: 15px !important;
}

.arti-btn-area{
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

#soloEnrollBtn, #soloCalcelBtn, #teamEnrollBtn, #teamCalcelBtn {
	width: 100px;
    height: 30px;
    border: none;
    font-size: 16px;
    outline-style: none;
}

/* 메인 */
.main-section {
    display: flex;
    justify-content: center;
    /* padding-left: 15%;
    padding-right: 15%; */
}

.artist-list-container {
    /* border: 1px solid red; */
    min-width: 1400px;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
}

.artist-list {
    border: 1px solid #828282;
    border-radius: 30px;
    width: 660px;
    height: 700px;
    font-size: 20px;
    padding: 10px 70px 0px 70px;
    box-sizing: border-box;
}

.list-title {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.list-box {
    width: 100%;
    height: 77%;
    padding-top: 20px;
    overflow: auto;
    box-sizing: border-box;
}

.solo-list, .group-list, .group-member {
    width: 100%;
}

.solo-list > tbody > tr > td, 
.group-list > tbody > tr > td, 
.group-member > tbody > tr > td {
    height: 40px;
    font-weight:900;
}

.group-member > tbody > tr > td {
    font-weight:normal !important;
}

.solo-list span, .group-list span {
    cursor: pointer;
}

.artist-plus, .artist-minus {
    /* border: 1px solid red; */
    font-size: 30px;
    display: inline-block;
    margin-top: 30px;
    cursor: pointer;
}

.artist-plus {
    margin-left: 450px;
}

.artist-minus {
    margin-left: 20px;
}

.close-area {
	display: none;
}