@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}

.insert-section {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 3;
	height: 100%;
	width: 100%;
	display: none;
}

.main-template {
    width: 800px;
    height: 980px;
    /* border: 2px solid red; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    background: #fbf6f6;
    box-sizing: border-box;
    color: #5C5F78;
    z-index: 4;
}

.my-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    width: 100%;
    margin: 0 0 30px;
}

.my-score article:last-of-type p{
    /* border: 2px solid red; */
    font-family: Yoon Minguk;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
}

.product-background {
    width: 300px;
    height: 300px;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-review {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-review input {
    width: 100%;
    line-height: 40px;
    /* border: 2px solid red; */
    font-family: Yoon Minguk;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin: 0 0 10px;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    color: #5C5F78;
}

.my-review input:focus {
   outline: 1px solid #c92a2a;
   border-radius: 3px;
}

.my-review input::placeholder {
    color: lightgray;
 }

.my-review > div {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.my-review textarea {
    width: 100%;
    height: 150px;
    /* border: 2px solid red; */
    font-family: Yoon Minguk;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    resize: none;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    color: #5C5F78;
}

.my-review textarea:focus {
    outline: 1px solid #c92a2a;
    border-radius: 3px;
}

.my-review textarea::placeholder {
    color: lightgray;
}

.my-review > div > div {
    position: absolute;
    bottom: 4px;
    right: 6px;
    font-size: 13px;
    color: lightgray;
}

.my-photo {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: no-wrap;
    overflow-x: scroll;
}

.my-photo::-webkit-scrollbar {
    background: #fbf6f6;
    width: 8px;
    height: 8px;
}

.my-photo::-webkit-scrollbar-thumb {
    background: #5C5F78;
    border-radius: 5px;
    border: 3px solid transparent;
}

.my-photo label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px 40px 0;
    flex: 0 0 auto;
}

.main-photo {
    width: 132px;
    height: 132px;
    background: #ebebeb;
    position: relative;
}

.main-photo-img {
    width: 132px;
    height: 132px;
    position: absolute;
    top: 0;
    left: 0;
}

.add-photo {
    width: 110px;
    height: 110px;
    background: #ebebeb;
    position: relative;
}

.add-photo-img {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.click-btn {
    font-size: 30px;
}

.review-btn {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-btn button {
    width: 160px;
    height: 50px;
    outline: none;
    border: none;
    margin: 15px 30px 0;
    font-family: Yoon Minguk;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.enroll-review {
    background-color: #F4D4D4;
    color: #5C5F78;
}

.cancel-review {
    background-color: #5C5F78;
    color: white;
}